project:
  create: false
  name: gepaplexx

applications:
  ####################### CLUSTER-UPDATER #######################
  clusterUpdater:
    name: cluster-updater
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-update-checker
      targetRevision: "*"
      helm:
        parameters:
          - name: "clustername"
            value: "play"
          - name: "consoleUrl"
            value: "console.apps.play.gepaplexx.com"
          - name: "slack.channel"
            value: "AgA0ym5EyLQjaqkepc0IEYUruXnlAorIZocs6od7bs2pvEh0Mo9Ij+QITnjan3ImMxHVM9S5Le7PK3hsXIJTYibsJy1CRfahO1STCFhlpqXyhvkjpm9HC2q7vI3+CnoTWT8L8RbHFg9BTEYh7hfh9MBfy1W8yRFy4oq16K9V0HQB9ah+jkN02IMhcf6mHxu8Yfa1bRRvOZfbTFuBrLZwawZTv52vOB04zOjyRNBeb5RCel/pbah5GZKQJI+gO5JdX6iObOjIdOtGFvkllGTo8GPgsRFCoEAXqafBLm+5J20kNHT5uZl59tLybLOEzfKTipvm1f+oKBQXoxXVN41zuJcp49Pl9eLBXpEqfO8p4clyX4YWYNl5es2GHEnmbVXyKhgwlpj8xNp4anT7iU4zKXV+mpTbiaCHnaZOAXD0QaVQcxdkwjkDYMrdyP1mne3iK0fMuUMww2+WzXuW7ZT7RWGTrFAR91emdSppCU5VMD0HS8ZsxFGdqIQlYUn5XJWE6SYbQAUku1gp1ayD+kYrjPV0PWekpvcGSIw+IdiYmds8ov1+7pr7X9Dv8ccTv6CXZMqPlQiJ4BPiVYdZyYU2fQfvBQQovXSKhp9RkmcEyZ+dvG3lGjoGjBdgemMK58YgtJzcidruFAR/BuAeT/2+nTrq5sHcFtnElb4wYvFDmteV7Htcts5RurN87p+bNS9+azYvsIuJQNg7f+fmMklMyM2EKp6mzu8HEybm9BiBzerRasaUnx4F+qNKGHQKbTu63EMYo2HqP2zQXOrDZtAPc2cnpUTx8lURk/8PyE/q5MC5cMc="
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING #######################
  clusterLogging:
    name: cluster-logging-instance
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-instance
      targetRevision: "*"
      helm:
        parameters:
          - name: "elasticsearch.resources.requests.memory"
            value: "8Gi"
          - name: "elasticsearch.resources.limits.memory"
            value: "8Gi"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING-EVENTROUTER #######################
  clusterLoggingEventrouter:
    name: cluster-logging-eventrouter
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-eventrouter
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### CLUSTER-MONITORING ######################
  clusterMonitoring:
    name: cluster-monitoring
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-monitoring-config
      targetRevision: "*"
      helm:
        parameters:
          - name: "alertmanager.config"
            value: "AgC59aoQIHyqpas1JGlkUFd9MvQYf8Yg4fbxfTuvQR5J6i3nItke/reg4VqXgDNcDhkZEoXHV9vx71qhpuHt7b8upHRXnWiYOYxsFkdr9uE6cRUWJdOy5aEhlUt9Xn7FKu2CmN+pZwfdVMTEWiKibHE1+XjUS/i0AcIJkwCyE5A/hR9mjE827mUDM5QrpQslajlyONFLyGoH4anBnl7nwmomQRuJ5L2QcSM8nR5I7IcyQYcJq82W+fn4weMV0fSfo904ZtSVzUXavccBo3Jg/iKv2NzWnQ04+lLiJ1gWY/8wMBQ6oxZmwZXi/T3gRae8ktTGzPpZ9yE8Dj69If/kLT/CBIZNimfCVbEVACxktm0ZFkx7UjboljpHbvncSWs7mnnS7v+PFcw30q0O0DMlRJqgAIj+IhRI/3MbxGsN3jVcADJW7myA+Ho1jSBAEoRnUlQRa0wW84X7YqoGdWfwQi5C0rB0GXsPH2aKBHgb1uV/SfWbdtm7NQU40CaIOr5nXzydBIbuTV0b5x+YnWfRgdrS1N9ygQjVLmq0R+5bCxB8ugOuhcRDReNxuglkLWgox7kswJsr/gSmorGB2zsV7+or8Y0u1XVFtrDTi/NA+Aje5FOZFiwoy638dudxe2tDx4vOHlYgMoSIgvTLjq6JRmeJ8P+nqtDj138jZryAFtADfDBotHett5YAmXiC+uspFujYZ1JSyj/SOA5sj/spWQpF0+/5Mt6Suf6E6olOmmUmo3HdcYyzTyj+kg/Znsf1Tnzp/dK1j2MEwIJEb6tIlDtfEAXxUtkWBee0RnFYtcKlRoQKQcufPv/FLcNivoy437tU5jc5dlr4mRTo+9agb1RVOkuIh9zrWJ6hOvp9TBm3IKT+w+DwrwaMnx25tg7E2X1tU0IQyX05YOKmY3ilSUoz5V32g7DweWvjPHHDC6l2WZNQSFh8lI6NKoe0z688pG/U23kAaSP8KQf5PJ5RfxpIiCZnyRPqDsx0BEeXPUBcyQgiWCG/ylmw7miyUUOkw2jo7ysdO315tGEHLzVAXKBejGw2Hv3tR48N0VufhpwTckPt/89iVADhzRf2mk2v2/esr987QyvsqsVv/+47fnJq10uPz97OjTrobhnY0j5+zcIotndwtrLe0ZTqcj2IGhtyUrqBvDBZKmC5RewpFs2YOhQmzXzqjB/pP1oxB8VLiWS2h8YN21kfx7GOcRR/P/v7HvqjauQmFOngGw0qJuHPceic9yucskfZbzdWqd0bDP7tw5dkRQ1GGbLFwq+Gu0U068PCLVQQVaLZ0Em1zjV1nFG3aSLWzu6zyysNxoD0NiX7b+wmnmZyxwVNL52y9r4n7RL/SqCULvysIKtWdnfRQvgCnRy5ZmFGAKJIZ/WgF1dZ1f12Ow4EZcm1yCsvjIFqC6vRD3RfXwFIB9ZNPrWkQeoigtG9p37FdacxO+MiEoHFxObOmI54Xq+HDCCan8zA7PoUmdyNV8fxcA/YgpnrQ8BavUc9qmXrZ77Tu3195GwnQQQwnmaFVxXO3yhAOB6Nk52/AImrvx0uNTSpssQUQeRulPY/ibLKRA+AJdjOiXBkRPNrBT6QIENeX6urb0GbRHUtVihwRKVhNRBMnoVVWjSBvL9TmpJZCjMib7Sz7j1dA9cAujvmsgTu2kdO8gcSVD268zXbyvn45zzJEG3cOqTdoFtMUG4/dzvZz2FGSB+a3AJBTLEbQQ1Wb4oXui9S6kbChD5YeCDMqS4m2rfjjo0SAjpsHXHBVSb2QEDy17OjX4mWKxzvJ4oQVDcFwHeaDqSoamilm89q0jBC00OCJvswIPu3GVjwGAksxsZaqt0/gH38hC2kbwR4puimrdhY4c3/rTEzI9gssjA7Ssb7QC1ePIvr/qebBFlE/yhbqtgWu2c7NbpRcrOeTvtRCoCVLM8Euh4RXFMTGJsovy010TXVOWdHVidDhRv1Gw4POD8x0LRgg7+Bf2a6kQxTwl9kMcwVWh/5MLuraL70xih5ifqLd0AB2nGOMEobBWEaDyC5qaE7EqmiFJgVxf1KLYISSE5nWpYWxIjgyP7qAsAYSrPyb+WmKltIL08+aIWVF+Iu/6Q+DnmiAPMw42JvPx171L0wg3GwS4yxNkwYZ83XPIat4J6eqiMFfnnyldFgpqAUtjke4MJNRg+UEtyp60AIKhjw+zcZ8DqpKKUGZB2dCWHIsezpO8QLkcLpUuH/gmdD2pAk+7uFg3msbPAhcJV0TJa56iwTLdpy6quppfrdZoHFLxfcckMK3m+B66u9TydpNoHSlvQqNl9IijC02dMxlWKfd/u7LTv/xZsz+i9qPbAapG8DDG5l1X4yeY0HCcd0A+mkCujJGFElmGyAkVdLBepqiB/FloAJu3eTaBb9j0o8OqhuoIJ88qIwwp42e5g58mE5/oG7VL4qUsf6+qCHXXyh5rBHO1rGeCFfnYh1Q8YnYe26kZFLHv80jk7xn/b9ulsZguib1YTz/H9797I1gUIGMIOI8tTKMePgH7/FEWJWOpLOhmHDD4p+33lbSQCRYKg8qmkP674ghbICu+hV5y4/Uv69dDMXK5qjdMEo4x3FpPS/fqvBI42bVzfz3ZBBr6nnqCUxAnjkFyj3ja5W7TIi0Jk/wkqFwXVFBTfTuTmyCN8Xc/arTbf4qzJqoAbR4lqBJaIk0uk4YzPm6axm2kPTxicP45vAACB0somryBDW+osEDAklTFAUOqneBaepiVZfOpeb9GMex/NdThj3wPgG1X53Ld/9ImBtEzjH46E97g6uhPGL9xt97zVA7KxDi0nx4X2IKSuXdmjSzKJ4N4lDOMP9WfVzRH2idZ2dAGiit0nVo+dbjisNvvnd1Npt8jl2rMp4525xxR6Cg7s+SZTVn4F8DyQ+zc72GEPBGb/4+eVEX6N30n36oM7ft9Kkqh7GmcgkKIPwsGJ8XVbIJ6/dv7/oL3TjJdrkqDLK+1rcKazKwB0RWaZYonGINSUpHZa9d6aVClqrU0jaRSyjJnnYmXzHno3+9E4wU9hlI+U+X4YPa7iXCaSkk8fJI0i+di6Px2yGLGVQDB53cqX1AHzW1hdx0BiPtHcb0yok+enfYdhtofGe7bg5nHtXZ4d43dFI/uWwT0HMrmDnBqas/24Ulrk2Z8UpioW+KKPuiMPQyW9CkBIbB5TwTjWNmw9cBUSXZsoc5sz1oX5UdaWgME8FUjptjwE6cf15uCsIFvnZ2svekLZpwYFe019I06vV49BdSsnfA7nczfDMaL/eJh2HkOntJ9CtmQZ/TQuJx9we/9dIf7jqs2E5JgVcHCrB68M2geTec4wEozzKUgySTXU+fBxB9B/99Uw0yL5gE9nDrQ9JJDCvFKQJfSJH12AFm600bAhdKX9t29T5/q9JpY7YEbB1kBwVa1mJHLMtnPpVFbxRvkLKOwdqIgAbDb04WyKoHYYOL4YluudS1DPRRZRjGEyA0fFCaFj61n+X+9mraxh5XWepY6uI5FDqFB8aiRWfKniPtwXcJLWLXDPCvSNHLup9NOzGL/MQloSi793VdpfZ27hpSMGR+rcBCV+F3mKd2QBMKgk/AO/ojdPKZeRfpgCyWjrelPm3WKbtft/sDojETQxFaY+DnBq7Z6YQsE+BgcVPaBO0KPm9uizmScF1lPIlRvgFXFtanByy6dn4KW9B52NkebZqcv6TAmSGxwBDcNpN0CxHb/Fj/oFyFg/IVGnYM1lpFbrLQpBXA42Klm33681169dgNrLCcYGi3n4U5xgSPJHCbHmOvJPrL2RzWiGuNIJ+XoKX5k15UjPELqmO5qn7NZmkAvK01b8ZGVNEguuveI9p2TmJFH/4AIjOkxpO3Y/c9hDo42p1xuY233SNAnpwF6S9X0W/Xz6HRk4hdeFxDcUUFh9NFvSwYLuodK/A0aB5Tbyql10a/xHTU/IPtqIl3zZCYmwv6qT6yLFZFytW5QUuxNHE9tenP1saqWTyRilWTaZ6Xul3JccrBZassviBjHPYlhJ8n4b793B+rQYAVaMTgihg0Nra6RBqitY7CKKPpjL1ZEeiMtrPs4Dh9wJEbyYtzSTGqi1NDwL1bBYLt+Pwra3gCbc5+Sxr9PVR1rgzp5qFGoEO8jab6lR+hYP0kU1+WHjQjOrqPYtEjtwUZGFpgTqs0AiZ6tts55hOF9kZtuAStn75CTdb+VOzqiEZwml5SG429s5/8sf19jwfzxwbL19V5GoFsLWPS0MK9H+Kd2yNwAPcJZaWsvLtQk+9Azvh17/oU03uhSMAiLLGpqRs8Z9C6/KZafCX0eU9D7dBmTcI7Okz33QB/hhe/Am7b/L63h5yqVWqfEDyuqtE1ZCl4BwYtvxzneMj4QwFcV38wxz4Jyy5SW7rdxrvSFxuAINYFzB3mGetVTes7drF5O0g7X0qDwVMjCY9UffNXlwc/paHfbXQLKoNHX8PjwarA+RCN+ASL41BuMScD5eG9O3nyjivihRtka6O+fsHSwnrId9iPxe3U2MWktlLcQ/HafmJyBTDgrRlqRPwkTdVg+5F4XLXui2dCzAzT72Qm/tUAZEJla3yYoBDyBKZdKMfMOyumcZgexrElslRR7jnoBXi7Ifs3kZa/wmLJ2fJXKPwjUFm3sdzhehIa2971/ZK3ok38+BL4xqGmOvP0qibRwq2t3cNH4OwZZdJdsUJ2uPtK0MQYVrDmyg="
          - name: "infranodes.enabled"
            value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### OPENSHIFT IMAGE REGISTRY ######################
  internalRegistry:
    name: openshift-registry
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-ocp-internal-registry
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### KASTEN K10 BACKUP ######################
  kasten-instance:
    name: k10
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: k10
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-kasten-instance"
      helm:
        parameters:
          - name: "kasten.auth.clusterApiURL"
            value: "api.play.gepaplexx.com"
          - name: "kasten.route.host"
            value: "kasten.apps.play.gepaplexx.com"
          - name: "kasten.clusterName"
            value: "play"
    ignoreDifferences:
      - jsonPointers:
          - /spec/auth/openshift/clientSecret
        kind: K10
        group: apik10.kasten.io
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-TOOLS ######################
  gepaplexx-cicd-tools:
    name: gepaplexx-cicd-tools
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-tools
      targetRevision: "*"
      helm:
        parameters:
          - name: "argocd.route.hostname"
            value: "argocd.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.hosts[0]"
            value: "workflows.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.tls[0].hosts[0]"
            value: "workflows.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.tls[0].secretName"
            value: "workflows.apps.play.gepaplexx.com-tls"
          - name: "argo_rollouts.dashboard.ingress.hosts[0]"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].hosts[0]"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].secretName"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "sealedSecret.postgresql.password"
            value: "AgADpL3zJdj+LPzRmRlDwSElM1CnysyWIa0gHJwJoRKElitke/4/b2mMsatXBG99UWezr0Ezf01I7YtiOGUFDhFZvOwIEOI3+KGp4ahrdBYedKSRHBYBGb8RcCnhXfUOmjfUw6XdmXnt7Wovs5A5aNztIhfLsQM6LuhBbIXDW4DE0qI2a84HO3nVkV+drAMJmSOVCZU3Fo7pvDgcMuaTAVNsVg4sgWvSoGOdqiwYIDhxj75XuXs8CBPc26j6RgCPYABdegWc5qe6pLZsS7o2hke1GXVgQYLBIlCfI3VNeimr0qj1wloBvAz8DVA5qSMlfgIJ65CU9HCAsrUh00H+xJsN6pecMbq43OhwIa0e1rWXHRs+IpA4w3hxmI3FgLa57/+3lbmD7BPPQ1FnbQXddttH8Cagty4UYUPkDzxQUAQIX3OUJJUIw3reekNxUS4OgtfIJ+Uc2GlGaAnZInT9KDJWZvF5S5GJ6dstzacw9G4em88vP/DVN0iLvOgdJwNqamaenlymT8sxXy083fk26/eWU1otPDNN1RqHQWsKOW68cGYwMyFX8WeMcUZne3mspSYDg84B5X4PbZ/8D8Wf9TAGHwsm4Ymesm84P3DFvzDTDaEViddPeHh3Xrxih8plHOhayzHnmsX1rfdqg5/7fV6BHh5htgPsnFsxWLdVMXHzwAM+MEJl2U0vMcr6lwpa8nLJKhIJqg=="
          - name: "sealedSecret.postgresql.postgresPassword"
            value: "AgC4XBri1BTYmNzo7y918GDQmJzz/g5S6afe92czQBUxGxCLzwBTJdFvmbScYNNicDDPHJHqTPdtpMFUzAj3lUKDxYYbQ0sjsjhL+FYm95N9dTQqUlwmT708Eo0HomZXwHUvbmdqAdyWGpDh1TgzpINVaGPTtCwzEID3Z/Ptco8KECGJOuMdRzfusIM/wdWm2GNmivgnXeu/TjAXZIrB2if4hj7UjpmD9q1IUVvqZoIoimyEcvaOFDHwCK1KD2ndOJGPN4Fsfu8TuVe8RXBn5AqmSirG/XwsJk4ZcM5HLNGRByQ8IoTQPyavicjcvI8lk8yqhfG2C4t9fR5Vt8oZD20OESVA/vY8+Y0Y5/KlcVDKEcBxmwxYsqP/9GlNBB4iaFs11HWgFA2uDJyHwYyXtT6vtcmh+xz+GNlPJzG27qtHCrK349XkY2qoz5L4/vtbSoD4kJnDnJgtAQhcwYuZQE+B/9IJixHbweLqkcSfagxKDNILSiHWZ9GHdQrzvu6w4uxOabomVmwcT0qbvAgO3zopTLe/XxKwi5gzTTjF5FSu5I3Y/+kReJ8bPrSx2flr5jlVPF4FdGy9tBbAHA7/1HSWn6GdnoTBXQnmAQy28Cu1vgr6IApiaiIIQ62dwXoOSrRezk9apQ1It2SsZZkfDasDdNuflX0ZLyIBc9AnWP+C+0EpVY7QbkAAdmeolTxfB8qwUmBWIw=="
          - name: "sealedSecret.postgresql.username"
            value: "AgAPFjq7TwO3nNRDgdXgTtqlTZBb1iho1OcFL/9KguA+DL7Ijwh7Iqeb+3zD7OOaH3HpQzFxbwq9Kagku5Eel9+FWlhuD0NsCLKBBC60ro6WnngsFTsJufsUNitaMFneDbmgqYsLB28AjsIoj+v+4U276Ng2+ncumeWOer16ohRcNh/LwZxeFPUoKNe3I2GqEMM+8MlDZAZQ8HgZY/Pl3KfvinrvvdrGns94Yz+b0ciAv+98dCWvvkeAzaI1pU/zc7VYevezTLHmKo715uKYhTBbyAGvmNr7rQxieVGFFvWUEcI8yl5JoDPbqpGzVkoezSBBIvpTCgGwKupxJnjy4eKObtOzIqjt7waU7uHvKC5rnLnBeBH3NLBE8XcgkNIQjYxaFUfL+hyT+Xa3/33CLaieptEx4A2MV5+9ZSbEI7RWj9Qmyzc0FZC79SJKsQho/lZGho3xs0ErOlx7pN8GvhZoS4fFc8jad5oyS/sCFL7F+iWeqSHMwRVHtm6F87wwozJnOxEUW40/qPVzxAQLuNzzLbkMcmCTelLwoUf2D6ZgdUpiH5HhtRblCdihGTED05RhNxkzkK2QH+IiylHMX2sw4/j1f8a/k1AJ0zZ7CT5DVkXkDJr9RUvw/27a1rQ4aVlAJ88HjHEr4cy+LajrFJcwQcgDPrQI91UKdeGbg7IM/bbu+lF1KQyiic82R/Yj9D3hNrHiZl7El6giX56l"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-EVENTBUS ######################
  gepaplexx-cicd-eventbus:
    name: gepaplexx-cicd-eventbus
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-eventbus
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gepaplexx-cicd-eventbus
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD ######################
  gepaplexx-cicd:
    name: gepaplexx-cicd
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-gitops
      create: false
    source:
      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
      targetRevision: "main"
      path: "clusters/play/applications"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### Grafana Instance ######################
  grafana-instance:
    name: grafana-instance
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: grafana-operator-system
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-grafana-instance"
      helm:
        parameters:
          - name: "datasource.prometheus.url"
            value: "https://thanos-querier-openshift-monitoring.apps.play.gepaplexx.com:443"
    ignoreDifferences:
      - jsonPointers:
          - /spec/datasources/0/secureJsonData/httpHeaderValue1
        kind: GrafanaDataSource
        group: integreatly.org
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### VAULT ######################
  vault:
    name: vault
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-vault
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: gp-hashicorp-vault
      helm:
        parameters:
          - name: "autoUnseal.creds"
            value: "AgBcQ+iUlwSjbkOcgKoUpEASoeXCSAaFXDrqMGOFX5/B5/1IlAqfehDoeA/fHw5OR3F6q++ZdvfvmAi80ejIU9Hp/Nk39o18KhyCHGxUHydvGpXqM20H0hSO4ds4iT5rwN861ANol/rssqL7OwJVtYrvmj+PFh6tluDa+HPZm7EA4ID5acBRPKuujz2+myyiVSDGtQM5EHWK3O9z1ZjiKjBZevOVfzkFDMYGgC6UZqg2FZlSWh0n9DOSMXZkHfObWPIN7RaFg+3Fgo3pqC/1CXoWReIUPFZnhiTj187Bm0W9ibYnYS3pHjorKTiGQWEeo6fqTQ9qy/lWR+XAUhWZTtxGrlWDPkk2EXsjrA9+6j+V+oxy4VHiYkP9Rh4lIaDetSgQ0abGTCpQzyrG6JH6cGAxwLui+3a51S2Hx39JZcsuCFbdaJLX8xIqv/EAwxDAWuCo1iCAusytj3pieSBEPWW1cJ7RqTFPcm35zvaF+3MsTQbvf+TMm1v9Pp5hESBODinHIjW8+E5WusbXqQl83Jv8RHScQz1BuTKE+f9iJ1VK2MwtPzZvA9zqcVHHjU+uYyICkNoXCu8e4XG+tLg26/rU4Sn2v4o5oOYYqw/srDN9L/bb811fI2TMRnxlbUguOwmmXFmz98/x0YC6VbPFOfxy4pwoxde9irud0d4pQVXDDlUMaJVyJWN8wup6iJHVq+GEXfB3CnfkkRt6UieCr8vYI37sc32wUAqDfU5S/6GTBMlWjSb1NDU+iAl3dOiq87LU/YwCEdZ0gSzDOOXUkOTSn8UXdO0Tin0grScZbGzQWgwyrp7bvEPGfWs21kL+dEbMvN+ofvLXzWfrJY4ZVwJyrztqkIvcdLx9VLmlItx1DcAtYii9zgVn6SsIZ786hdLPGTUQ0x0DEB/ST3JREzwIsWEjTiLdas+fVBdSonrcx5iGQN8FrMMVWVH0Nxz6WZibTGWrKtzwS8n7ZYDvn4+WHVEQfYG4CGD0XpV/PKT9Hd/XeWfh4ozkPHwEniFVfqvnbNWk0TpmESMWDd+4bZPAFKeILP47r+yWm5fxfPTFKvyAoJPl8SLQcr2IzVdRsv+iq+0BpyAQL2Kc5Kh9I/A0u63DjkLEbPDcy7rBOv4fDY8n/XW7PwrZpSni2P0rc8FZVOo3gfEpNxwyXAEMbo81vaLWpqBAuto+JbqH6Lmf8PGZmo08Ip/Dzxqgk73Aw+1RoK49c+lLA2CWwoq0x5cQoBzp1JK1E7KQto7X3ZMEvUj47kRIKyN1gFATrvO4th90zwxWTE0tH8cG9smo1rLgjYYAZ9nq9MRJUuGLg6ZmicgSHylapf8BMWvBb6KEE8Wrz/9US9Mqx/S184OOkL5hnHUDk19srB5Z6WOYVtC9d9dB4r9frJLIqi5N4pgB50rOSy4XIz+nVdRgaXCZYlQ6vuas96+QRmMohbdWffsAnsENPHLzmR46905AjZiNDMIZx8Q/OPckZrUB1AFE0Z9WJ8X0R/iaW/06Zx3o6onSZZjjAOPtyl21NeNwQKT1IjBnn43mJDoQlqqzrs/Cst43/U5UmATjQgwvVsg1dF7bpWuxpruLj6bPRRMO6+0wICUPJcquHGFVNNQJrZtM+kKezXiKDOf7lkfUt8rw5Ja9unt3Y9K95BhRqRoRm7y3z6wp8QPcTXoj72xcqlho5T9Ypea/Zy1pLC41BxHpVTL5kzLL05OHymY/+OZVTV76DRbNyZUxTKzIJT/reHJQ7qjrLvt5eSzIAEL+yf2sEG/ugDza06rkEpkEPhXMEFVillvRWDRqiKt7ychG/OW3lB8Zm6gxNIK2bOyQZSZwuoMEDMHtFTZDhhxl4zOrOnuF3rGlChFwXcN9FNzhzwoggs5g/tC3MEtzGvK49k1H5Zw1rdkSzg9MRrIfpNPFdaK5x93ulum0LEPz+A2t8ForK/OOa0VsilcP2Hh5TAmVbwyDChgfpzUUWQQ0jJoR5nOsXdMi8678zrqA/bIgKnJ0/LsuRaMCAFlXCGBevAtHZT98Jfcg5/7ZxAdIonXK7OGzv1jBAjc+zUBTjEscS1h7MV5YGdD1vNttytB6zuI6PkTprGP1lmNpa0bhuz2SF8lmm+1pmpMgDPcG2uT0STOdPEcpk+mRQ5Z1+R3y3dASMPYo4L5O2TfIXLWcAH+sc59lpvA4eN/mpjHBztLeK0SaOBoMDzc0lV/32mybMuJnqNWd99LSxe5aLiTxHhy2qU/hLRKRHdjJDSrRQIrdzhtH9WA7n9uizS5TrndMuTJ0mm0j26KsPRmC1AwPutCh57GZSJw01pUOWlI0RDg0IB5WxLpLAxMFjrKzFffV1++UcDe7tqi5d6U7lSyWr0QJ5Zy7hxNbvNweRD8VfdOyRjkw22tJ6wwIL545psu98seF3wFXu6gNuvPw1MRcYDEYU+GpPaxTMOcjgWUGoVugL6zAPRMGM7l3rVwVw9BriW/BnJ7D6gC9MDlcu5psgK8Uvz1bkfGXEdkLfxHkEItzL4eS3VOIOnUpAeF8W+aoDw2xKkm8kGBHW/LFbOt7d2NPKKM8J4jmzZwkfl7jsPL/au5WVzpe9+bdnkI2ErEB6v1AuqdzLiZFQ8iVD2vysM76HEUD4+K8VJ8Phd3WcC0+xRMCNLda6fKb0cXNgO+H5RgAsTsQJ40ihp3hn8ugJ/HluKu3theHA25dScHSsK2pOGOQ/vV9Y/h56T4L6j5dSEh7NfcpWwnesHcU8W3ZW7ttYsx1p2eXq06SeN6uQGf0K1tGdA8ekSUVHuYuHjCFrUR9R9b3I9aAlzijRc7PVpG7YeSIaDw3IPezis1fuJk5apjCrNg+WRuF/Oc1gJ+6YVu6jpRC14mc8Z6baAbaYRD1DAZd4nFt37dC4x36hJxy8/LhyuarUmak3FKpggauDfQUJbbDzAvBYf8bkobQmm2B0fROUk28ryqLQmV3iWr0iZ3X76sXzKTzhpjRag66VD6+Oo2pKxdlFzoGOgNRNVnVZhM9EOO9hIj4uVpfkQLk6C1vytAU+Y47kMj+wnWs9B/goIF//qpQLl/0F8Qmy7LEZtvW3PALGQtKupk6b2Ie/VhtGEFgVRWHS80BMgoBdksuUK3wk8WsCX5J/SPeWNlYc9MPAA0uxzbUSnFIP8r4G0PkchfASTuoJLLDJS/3Jh7IZQTuuU/cBtdAXIwgk6B6dY0v2KUxZcNvn0DgQu/kVCck+j/n4V//NYzlvoms7CQYV+CzQNuHZS9Qy0nAYh0rgPdlSwjufzSIhz2m+spegTgpholUMBBoEa3us6/HJVMjf+tLf3i3m7dHdJwTvUfLhHUHO7rHWnJBAdzsyeTY4yoA673xBi/5ixUxXc7SVaJe77Ors8HrG4rQJwBsQOrlzJ39lW6KkYgDb+qKYwgp8xMh9sSOFmkdlXwerdF6XIDtzFNfZaAEOR8VzwNfWa78yWF2MeRJ+PfpjBcbnXqTZlb3yjxuaLEdEfcl/5FZFHavm6xetb7BdH/7bVbDIyshGdOieENiNZXPOsaP8r+co3gjcXiqjf9ZTPm/d0vnwg5+VKEZl74buZ6M74rCeotaUrGCkAUaRW6dWwJCgInkeJlIogkXh3xuN8uVQh8V0qYTTdlRoWLnjBE8q1NgkNkB7QclBNHzpswOAensn8zDWjQgm14x/bUwrZX439WXNctIR3fiQz1vLAA5j2OGD3pm3Dcqc4Gx3bf25/5M21U0J3PH3NQ8/nnb0NyhFq/iIITh5bhuY8yvuaT6B0b08g=="
    ignoreDifferences:
      - group: admissionregistration.k8s.io
        jsonPointers:
          - /webhooks/0/clientConfig/caBundle
        kind: MutatingWebhookConfiguration
    syncPolicy:
      automated: {}
   #     prune: true
   #     selfHeal: true
