project:
  create: false
  name: gepaplexx

applications:
  ####################### CLUSTER-UPDATER #######################
  clusterUpdater:
    name: cluster-updater
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-update-checker
      targetRevision: "1.2.1"
      helm:
        parameters:
          - name: "clustername"
            value: "steppe"
          - name: "consoleUrl"
            value: "console.apps.steppe.gepaplexx.com"
          - name: "slack.channel"
            value: "AgBIPG9Zo8SxwkZbayJT7kKCFT8EETzn6qmwPLmV3H9KOgxUWsPdhKQZC0Qnkc6dGJk7jv/rDhnzzYJ62hSvIvgKh5FQQkOyIbAvWhIUeO7xSWQK38UhULmlIdnhMoo1NVbmdWCM/VyF8N4HizqeD2c6UnTmJuwbWR7vGFzxD622G+arsZ4Kx5mBGnfcNsDcSu2yiq3R47m3iB+KNgr3M9aJFAsQaWHiiufgFTTqJicNAfo3FjzrPPvOd57B/SZuL0QXOlxUMVzHA/RGn5/2J+LWjnbOXH4d3d6zwmgv0mLAor86hn301y3ZLVXqUaphaMsPuVv8/KEEpTYu1uyw10cCMSr8wlCa53O7RdgA3IGdjHi0y9qZxs+HFzuRVhWOPmcADN3iUiJV7FZtW0C2N7HfdO3V1365D2BXuT23b4OzGplm2oj02XKeNAN9cj2/oWTVx4tSyojr9L/5tnwHlN+Sg21ACiqhRoAmQRe4K6YO+YSDne6+hE3aDPGAdNQQHUSHe8JHhaxzS9DiHj/R/5waLaSrm9TWlT2t1gDqehAN1aPra/QI+ETJtVAA+eapv5PUq7sWRyjTdEBMEOLbClIwRcHQKj/fslNhYEv0ZLAN0JeyBJwmsXtth89m5wVDPz+0WIeH2JbkBr3xLcYXR4OY7No+YA/jdtCDntyXH4GmnLIW55z7fE0MmbxtniT2ryHiiM4vrRhPC90nNJykMaxrBP9+Kc4HP10Gbnf7yGlXfuDzP1sWPpDtImPTe8GMpdGqXntLlnS0FXOGeMVNIoFfqxT5GGlNmZN5xuaWwqNhrIo="
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING #######################
  clusterLogging:
    name: cluster-logging-instance
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-instance
      targetRevision: "1.3.0"
      helm:
        parameters:
          - name: "elasticsearch.resources.requests.memory"
            value: "10Gi" # FIXME
          - name: "elasticsearch.resources.limits.memory"
            value: "10Gi" # FIXME
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING-EVENTROUTER #######################
  clusterLoggingEventrouter:
    name: cluster-logging-eventrouter
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-eventrouter
      targetRevision: "0.1.1"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### CLUSTER-MONITORING ######################
  clusterMonitoring:
    name: cluster-monitoring
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-monitoring-config
      targetRevision: "1.2.3"
      helm:
        parameters:
          - name: "alertmanager.config"
            value: "AgBUhrXznP/c8JnHxTPl0DSFXbrGUvi07eE56qa4M/Zdjv8RfmN2bDy3pkqJkW/vBbNBnLeTOLjp50b3CzkdLfJ7mXiM52zM0rGdKXf/Pf4UgDHWtP1qTdFL/oC8d2MvVm/SwONSOQ+s88LGoX8BDHTO1zSBzLSDxKjIG8egnQqU2vCPMNj+y6Mt6gxWQ/bnwLXQOmNyLjq4Ua2v0Ds/s5RC481wZax7qqZ9IByDlGH8sHU/AqNU0p7UMmZR2B76sKzYf42epXDRxzH64Ty7nWT/M4tbtTZMHP19HdhmcfJR5JH8v45jMIfnFaPu93MmfBlCOxlKqQzWUq2/0y/BtkgIJ8Lox9xYibY8SNGQIWtfAdWz2gLzYMulc1nNHYJsVgezZG3x60nWDByV2AXPc32zYwq2sluAASYaTF/f5byytYR2GhPpOZhoeVzTlU5obPPETV8Jvg+MSpTAM/I6fAD1j1E9+d/rgDe5/RGNQCc97ly3hn7Pvs8IHNgDAoqv6n8uN+RUVVF0Rv/d/ibgwuR7NvNTTvOzFWR2IPN8sLnkEdPhoNm7D/VglVgeg6Pa4w+F2SFjBUc65zKj9ZUIVV2dPgMlyR8cynOvOcZKL1rY3R4NRpU6U5czU4c54nZwokW7myrDABuBcguSw1keAoFZobiPyoFctbxBF6byxNZiemgI8s+CSShBhVPO9A1bjz2DCTkRtQgWhfJ/doY+lwIJQ98RuFbtxdwbPgPzsW8DMtTzhh83DD8eMzKHL/mgMZPGuU4/jEqDQ2McA1IGDVVrO01RRleG6bILgUmPjIAgNVWdslZMtjD7Plwj4q+HKReCCIw7qLAsnxYd08FZNcYyJZZw6nsmg3TAwY0V+b/N6ji/3HwLyFxh4V3HOa4LwsTCVvn1zVVXyJfFuZ7JKSqnwsznTgMAprh4UryDqpQcinoLalSfpIiLOWet5PTUDJl7KBucG2HNPnoEdnO10b/w8syeaLDYpE6gMrLOUUexPFVgDfI72m+inL+n2jrRyvY5nnkpoz+WnPxoavvTgHmX9Z3hzHf7LOT4MgGgtvFrzfYaKSdm2cRCh/YGTeGbTxaudvw5jfIR0iC8rPe62rLx9SSYRgBL3I+xmcmxDarY8XFMN0kfUzHKuE3k+3WRillecITjLCu1c/65JMfGt90vgR7v0hKklhBKrwVzIVmoUI1lR6EoHMYk5lL4XCesHhDNCUMp28oO+/P1La4XgmPhlFpPYAnK3LF7IzwAdBSfmANj6jrOX1P2shR71gHs8kS+wUNJLOKwh9nH2Q0FuWw/2ThddltxtO749h0OUNCr29GR997O7/+Tn4NULogwtifgHLwedmCpPo0h4HXMJfJzTDrbopE8uT3zNglOWUI6nvJ15g3V5FcgUnr/pmRwJXFzInKIQZhAsvegzSDNx3Woqpv28Nr1+QamYb2ydks5kgLLvsR30iOO0ZRLtKuXrnWWrCFQtXfAzDCNSKUtoZdJdPTWAJR1jw80qHNOHvNeFYJD0wuKnnyhKklve+aBVUoWTV55bFBfcPhj8eRZ5Mu9ClOFLfFxG+aF8W6YRr5iXltEli4yX2HNWEuuqZJYFnxtH/b0KZCmG7TD13HqsE0Om/m42JanoHMwyVtbp//B0GyES4YTujUtmmmEUqjwOR4J5QpSBKA9hl85f/qxoCGAWmVtc9qr6rU2cQVk8i5cbWJxapvA0sIQ7dVjTbWFdSRcpdO5TpdBOQMu9/wmcyi+mpQoQ4zUXiUCIhEB7U3/nGKGU6D6z8Y50f2hyhg3udJpYskfet/sVSPBUunvqTSQ5uNTO+ZHF6utwdFh00WVcGJg85R5qEu615iryD6vtLRO6s9xZ/V0+dk5qSxsBSxa+JR7srZL6WCpw6tDwoFqw24ggdXY43WwZjpzjo4+WVtuhD6J/XC2SoIc0lZ9SDHt5FhEXCG7YAbDsGlSB0JQe9TaeE4w9/aRAHEe6mY2RRg/3rTAZ572suc7b6fLcUA93UVxtJTAo5g/Ht5v4zR6Kj7ZsLiCPy1+buB6iN37opZX/fcxp1EPAkyqESNwgnqzUzfx5ELCaJ4EjSXTHoL4ZSNTknC+8MYB0omXe47a2/yFliguMA+DcDgFinh6Ipc7nRMVvIKx8+ptri7CPFcDFdN32sWjmwiHZMqRFc5cNLMLRtG8Bdyw7ht2gdSyNwkjINh+4W1tsaHAmIvWnCVCFyqKVYd3K3jLVwJ6GtrNuWOjh3pMgCmbTTvL6PwlXxChaRvYW1ckYO1qSvwhezDdoxiHoM+dW8q+6L+tHvh4+HzFjlmXoFZ08PrUdQp0F0nf2m1t1q76XlreVoNMMpBBmNpYGNyN40CHgymoRzjYrppCXp+Zhq/aqsdTV35QhOEy4iAJ+EwsDORXIiJyifv4cFm4Np+8FToSrmqi29nJrI1jq6tupJ3J1AexXBD71RTXQ8POFYkGxEOrSoT7wF8z8hI5ZbHIH7Au8M3jB3HBqsynRLOexiLM2m3rdz+UXx4x+rOP3eMQL9Z2oGU9Tj2VtLBQQWM0TvvM1Cqa1tqml2j9fY1OVHosvsh9XXpCdoUyygzeM7i+BuDQU+qN+k8t+eUF3W0SbAjQRO5SZBoC6ZUNAAjUmdknN+64HAdySS7P/D2u022uqUT2p4oI4WM4lqwJmJ88VyAPDUN6GLtPEwnCL36ynV03AvVYY4h+h2Ip628eds75kA/uY61SBPzpDpcvUQj45qQIKKDI4Vp7DRY1uKJN4UVCexEuC/DiG8tIRqdhEBqyX5wlY/aps8bluj5Z87KjzrNI5jXVHFMxnzPePbFzdaC9BGuxUUmYmGYZfnWAaDx4cuLmbLTAdsVlRKmwUWBKfZa46f8xg/2YenLitPvG6PBPcBhCWwvMHYW+CZi9+R8TT/GX4Z2sm0jiytvs6tYnnbvYfJptAf7iHtcnkkTfeLGJnfkRMxY92v/yDB1pBY1ecqV8xufIW2xxvb2Ah9g0gaY+Mbun+5n4vf9ki/86RwVoUsy02YXhpE0DZlo6iH8+lfIvCZfDKoXphVWfASXzu0bYHuXiv4jr7G+QpDpSdph6+0ulFc84g6WRN/WEdp202Lekk50PQCdi6ASL0cUSDkEwBLm2H99kKXDZqSpx7SUaJlrgEqh5AcTyi8X3XXxxNUH/6PHJk+DNTY6KaItB+m4jdLJw/OZqoJiXmJF9NM3+Li6EtzeVHdq14Dopd8N7owIs/BbUoRy0SJEM2q4WXwxChq6aX2SmJIo6FaiRa6mFdyRrMpJzoxSKnZah9gxQGtKxuwbD4stwnm99d46dtCh8nDXcDVMIPih7ltyRJ0+UfW9Jrbxe368wUAGNgN/hFUtN1xc1dRD8YvRorxW/5o6iOLffj2wwiR3xOqbH39XwjIwf/H9/uzoseF9x2ekauCcvK+6bm0j+I6z7WeiT4FkQUzCxAxO/PeKEJ1FkJGndAgfC7gVzGD5EXWrII6QowdaN+FbBJ/BMYbB4qulixPIF7ckiMPdIEtMb0JVSwp8ubJH8r9acredLA9ktaDkDjNTOk20J9INyyIs="
          - name: "infranodes.enabled"
            value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### OPENSHIFT IMAGE REGISTRY ######################
  internalRegistry:
    name: openshift-registry
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-ocp-internal-registry
      targetRevision: "1.1.1"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### KASTEN K10 BACKUP ######################
  kasten-instance:
    name: k10
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: k10
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "0.0.5"
      chart: "gp-kasten-instance"
      helm:
        parameters:
          - name: "kasten.auth.clusterApiURL"
            value: "api.steppe.gepaplexx.com"
          - name: "kasten.route.host"
            value: "kasten.apps.steppe.gepaplexx.com"
          - name: "kasten.clusterName"
            value: "steppe"
    ignoreDifferences:
      - jsonPointers:
          - /spec/auth/openshift/clientSecret
        kind: K10
        group: apik10.kasten.io
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-TOOLS ######################
  gepaplexx-cicd-tools:
    name: gepaplexx-cicd-tools
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-tools
      targetRevision: "0.3.6"
      helm:
        parameters:
          - name: "argocd.route.hostname"
            value: "argocd.apps.steppe.gepaplexx.com"
          - name: "argo_workflows.ingress.hostname"
            value: "workflows.apps.steppe.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.hosts[0]"
            value: "rollouts.apps.steppe.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].hosts[0]"
            value: "rollouts.apps.steppe.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].secretName"
            value: "rollouts.apps.steppe.gepaplexx.com"
          - name: "sealedSecrets.postgresql.password"
            value: "AgBOMsWEqSwd6lxYLmAZ4WyGAboHcn3HT0D96ui/jcn6Vr4w9Vjw9MhEbKGw1YOsgby8mKptszRoMxmEnL5wk0lpUYlSuurad0fstLqqSd6NG+4vqAOH6vZKgaZ81jNmW7V/mHB+mVTN+6j99NATkKXeJzWoZmqC6Q5p7Ir/mxJxYpXmG2QJhmyAapsTfJJ3DFVBU7RZ20MJz3w5m8EYgbbm3WOy8B4OdOdaDHR8l8VE0zOO42QPn7fDsu/+fo/RrE4hosdWpiJrNyOGctgVd5Y6HSHENvl9swyObdDZ4NEX7vuAmP94TO9FIYIQbAVrzfWFGXsRdSBFMzNMl4GAopICbZuYPdvnm4UHRr4JS5+Rk3YljsVccAtzpM9LCDcR9tpSVEezaBE8UZS3qgzSCklO3yjxl3lSqIpyqzIMCsKyYmZYjqxDfQqD4uB1K8CnDujjQ6ib6pkf4/jckzD0/LW5SvjsUK5+m7PeG9/BgNv+V4Y4CHUhzSH/nt/Wjz/t4LSkWyzK4o7GmDKIPgfErOawELnqYTbdNdsBMALGKK9luSAsaod5PGreBKGdqe5qTCaOhUXfqm5a01hwwpV7LXGaznwI1w1wc2oIYM5lR0biH9F42c9+l4af4Hq8Ed8+J6i0vu/tf0RlzRvH6JpjM0I/poE638FaCCHrPaSwGtDurPKKHNOsJ6clpoxUidhDkqz1rOrE/AX+crU="
          - name: "sealedSecrets.postgresql.postgresPassword"
            value: "AgA1XBm6eO5U4WcEKxom15GxeO7wpWJlYZ2HG7zVnPAH54kh4vsTLpzLm0Pr3GjRYEKU7sRa7i8QJH/ZVEyZKD+fYogafKETCmcq9PEIhg+iK82UbSmxI5I1knrx88llzVw1u3xa3huXXLfNAFQUFO+c/2xz11zaqjOym531uvYMgA1ZCMo01YqHrzYj+tEhLGvZO8xVQXCWvmam8f4ziMGO9lShJF7I3WY6sjk7pL5pFOCoRltUZjboYfbiGh7LPc+fZIdC3+68xFg0XYCBlI2tg5cdLKuHeRuw3KGCfQaTVQmbhFUYNJML+f6ph74ZoJuXCRjWM1g5AWxBb7JGqrZ+mwI4rh5LvbFw17MsPwLjQLW5pqu+/P2c/wYvbNadrSp4o2e++qvKIgc4L4sOOz2iehSsHDHMOOlFS1DsD2v6LGjDW+qBkWLN768OUy4kbQVs8VeyKNAc/fYvP2gx5Tox4hnSQzIfdD27y/I0EXCpZeB7otLT9ZtgYhtbfOVByry4L++EP4maoBaT1BS4cDmeYORZwZPooCdSPtYGYcEn/bGVRYVIMVXiaD0blwW7haN6yf8tLYTp4gaS4RBoVa9EqNAguDMj6kvqCg0iSlfCU8XVrOLBY+zGelBolz/sshRk6UAAJzMbTjafysnqfDTvDfvZy1yzHJG2lDqKslc7JerOjnY5CQMTiHONChUVh6grNcXq3rwKWcQ="
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-EVENTS ######################
  gepaplexx-cicd-argo-events:
    name: gp-cicd-argo-events
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-argo-events
      targetRevision: "0.3.0"
      helm:
        skipCrds: true
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-EVENTBUS ######################
  gepaplexx-cicd-eventbus:
    name: gepaplexx-cicd-eventbus
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-eventbus
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gepaplexx-cicd-eventbus
      targetRevision: "0.1.1"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD ######################
  gepaplexx-cicd:
    name: gepaplexx-cicd
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-gitops
      create: false
    source:
      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
      targetRevision: "main"
      path: "clusters/steppe/applications"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true