project:
  create: false
  name: gepaplexx

applications:
  ####################### CLUSTER-UPDATER #######################
  clusterUpdater:
    name: cluster-updater
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-update-checker
      targetRevision: "*"
      helm:
        parameters:
          - name: "clustername"
            value: "play"
          - name: "consoleUrl"
            value: "console.apps.play.gepaplexx.com"
          - name: "slack.channel"
            value: "AgA0ym5EyLQjaqkepc0IEYUruXnlAorIZocs6od7bs2pvEh0Mo9Ij+QITnjan3ImMxHVM9S5Le7PK3hsXIJTYibsJy1CRfahO1STCFhlpqXyhvkjpm9HC2q7vI3+CnoTWT8L8RbHFg9BTEYh7hfh9MBfy1W8yRFy4oq16K9V0HQB9ah+jkN02IMhcf6mHxu8Yfa1bRRvOZfbTFuBrLZwawZTv52vOB04zOjyRNBeb5RCel/pbah5GZKQJI+gO5JdX6iObOjIdOtGFvkllGTo8GPgsRFCoEAXqafBLm+5J20kNHT5uZl59tLybLOEzfKTipvm1f+oKBQXoxXVN41zuJcp49Pl9eLBXpEqfO8p4clyX4YWYNl5es2GHEnmbVXyKhgwlpj8xNp4anT7iU4zKXV+mpTbiaCHnaZOAXD0QaVQcxdkwjkDYMrdyP1mne3iK0fMuUMww2+WzXuW7ZT7RWGTrFAR91emdSppCU5VMD0HS8ZsxFGdqIQlYUn5XJWE6SYbQAUku1gp1ayD+kYrjPV0PWekpvcGSIw+IdiYmds8ov1+7pr7X9Dv8ccTv6CXZMqPlQiJ4BPiVYdZyYU2fQfvBQQovXSKhp9RkmcEyZ+dvG3lGjoGjBdgemMK58YgtJzcidruFAR/BuAeT/2+nTrq5sHcFtnElb4wYvFDmteV7Htcts5RurN87p+bNS9+azYvsIuJQNg7f+fmMklMyM2EKp6mzu8HEybm9BiBzerRasaUnx4F+qNKGHQKbTu63EMYo2HqP2zQXOrDZtAPc2cnpUTx8lURk/8PyE/q5MC5cMc="
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING #######################
  clusterLogging:
    name: cluster-logging-instance
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-instance
      targetRevision: "*"
      helm:
        parameters:
          - name: "elasticsearch.resources.requests.memory"
            value: "8Gi"
          - name: "elasticsearch.resources.limits.memory"
            value: "8Gi"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING-EVENTROUTER #######################
  clusterLoggingEventrouter:
    name: cluster-logging-eventrouter
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-eventrouter
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### CLUSTER-MONITORING ######################
  clusterMonitoring:
    name: cluster-monitoring
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-monitoring-config
      targetRevision: "*"
      helm:
        parameters:
          - name: "alertmanager.config"
            value: "AgCFdCux6yxaG2Z8TbYXgMPPxK12wnNZ298IMS3AjhCXrIlYULjeodfetKF0LJMQOH+HD3jc6S6aMePtsTAwWeUUm+EaMcP7quU4R1oSlYKYaIEzL37j2PkbOvWjYKQjVmGS72O9Sw5GvMsoUyAMRDa4RcKOukPXtOYQN7vQ9xab14CF62lYR9JzAQgY5YBhwGLc9zOPsTru8Oe/PfcS41LEvUZByHSd8fLRMoJV/OVMrRufRBZLajJXdKA7Dtz8rYAEeQC0xb2GRaIW7ECNS5INP4XGacfRbxIvt/Y+ZqchxjNIcOHjpDsY3VzbPAUK+hx5PEa9kooyeapCVgXOvDI+G1MECJwcuDPjRM/Y8PGNVbOox2L2YsZex1TLwYfJWWuFSLB1mgmBVODUX3kf78Q9SdAZJiiFTViT5VvFBQLbtEw0/TzX/7bZWYfgnP2ot0LHdofKjiaQX6yiH3n3cLevHOIfuzvPUmnPQ4bh8sot2JISc+kyfQdmOxlg5KFswyBNMIXwUdeziGUgmr3d4TQNbNUXhUJkTp0m7iR8zdbmFIo8XP+ASAIufyEQwgf+gqd6aeoa3JkLvshx8IAAoUU1EKS+pue1Cpnq9psFxCiQr/UrxMsB4QQz+7LT/pcqWTp335uUmOh/rHVZ/Q+U5YAaeL5mx6Pwp4tnEaTlqLQ5ntAPYtFUAAe3bQUEIP8g2uuH3MlLZXEJBVS/2UncO/QlURPfS9kJoFm7F6M5AJL344PSEQJJjtjMgwZZUKsgrwwyOA71OfHEc0Uyyw4acOUL8UW9HlCfLaB/GugWruzwj8OTwSyJOrAYsWOtvr5JcdGbrVLN3s54w2pco+d37xLsFCGRsu7D74xer38UO4opKCp1ht0qIB9hcLU2fWvarx0zZdVwaPK+p5Lm00qCJmPv+oZdCOSFer7Ye8yN/JP6IeRoTWywXUSG6++Qb6yY+dKyKHfp92g0MISMSIvIqI7jbZXtMOfi09VcmnLXrRGDaLfVY/43NlIj1+0Zha7GcqapNO0SLqbcVVKDp+y1uur8DQaKQXCWOujRaZn0dxBtXxitx6eZr19M6CDmIyMA4uuxfXUXdnwFfdvjiCnbqu5l+6RuiCaXJRcU3wUlYgKLbd7p9YuyIv6V6C/gOadU1rbhZlRhahKiqAHiL5FGAMuDEX++WBpQDtWU8TlXvKJ80Fik11KKAGWwHymz7QtAAJjr9MvTufmR/iqTo52DGd3+3K/BLw3AO8z5yxdEnM0qLly16hJrN6KjGgbEbZRAAZ80TQWsVrpkEK9/m8vBRSDMyAak4FhOcmL9DMMMvAbPTO9WxYzblGDWuho5EPY5CxAdH/ZecRG8/u9DdjtpBp0Ksvy21hCAsfG4xtA44WvMuIm5QgFWj3R+Ky3G7OzIF/1HkbcPIsoN5aV3+dk3pmXuWeAL1GhCgEGaXyhwfyZYNZJIC28QdutPLILMZgvWKNB+GcdNLLz/7cQISAvXptWxRQ1mXijseKYk9GjzDSgQ3G26ze//VRnq95AdcM/QWFFj28jMFi53ENccTLrnpDWAyhhjfbP/NtkySb/UgZ2GzEGCjO2qLisGKAdLHZ7Bls9mTlDHCnR9qtQzrZI+g21q/ZLeMYFk/H1QE+jXov8bU5pUvcr18cqR6EYvNnRQQBtpFvzOrCXZFCp/DsgWkKBZu5PvaiWZWcF5h4uShtR/kIge++I7yKkyOk+eGMXMQeuVcCheUco1PXohIml+eKIcDdkA0WePpiQilN5PdyTVUWzNRAWoie6w2dpG3g99NC0E77JC23YRMJyTnmqQxFbbSZBGL5QzZRXlfiSR+gtTne1WpDQ+KaiDFZTodKiSZJKfD9i11x/51noMSDzohS3lW0UCjp8JkRbHay8HyUVAs6Z3SigQHO55Cw3BnkLx64As+6tgD+nABLI3+eqbzwa6ijTXYdIdq6ZQGU5FcSQC8elbuWY0BIziWMV+KbCRAaV9ht8JPYTJaQIe1vq96kJpo9pVDMnVvYO/xPu3pmqJ3WN6T0MX5mFNF8naKIq+MEJpXoBYtZwcR1/Wi8FoygNg3H087+LQgrgBLV/zAEciQ02/a07kgVo4/OCEUWszf7lzG+4lAAJ2DBYRWweUjjB4AMAAIBtfi7prXIqqbff5O+JGpcoxHzWh+hE3fzubFDsVUI+WWIhlalm5gY//fNqmEccO36ViPvaaD7ri2CGMG80TzUx9XBlojk8fDmJ01Cz1ufYKgO4mUlgOmlxyATZAQc2kJWJAYTyj/snnfkUc0HMhRDHz4Mk1NVQRfBammWF4Ii/GBqNbDAE8q2ojYjZmArKPQhvZW+k3oAlogmdyz9Od7xo/B+VHDrg9s9paasmtvS0HaPGF7kAad1UHy87uL9qCQF4e6tsqMMVb5bExaqpxMo+NkzQFryR8+ONgbcNZL5yab4k2I3i1VGiMZX/RN9/nduUgZNlG/DNV/2rSJjlbiNa4OGFkQCakPAkkERhXU59i5Mv42t2U0wcdjqceR8UJAYeDGJRrB5WxLg/REvcDAjRtoOoi84GBXxlU9fTuyqU/qBAqvLtaSkPk1KMLKqITEyLrW1QXHn+Nf9JdbB1I3omFParg7sI6LvqwIQRt9njHysgRYjtWHgjRgeYQ9lEPpj8qfMrm98hJWUlaBJNOBnkKbn60TuTpwEETUbUBftQTwxZJIPR5pvx9PDOdylF8gd+tIJVGaT986ugLCKQ9Ujv3yGyae7rQdk5/V72RaphIokI91gwkjQx7tEeqFZqD7O5aTaUUD0ZJVzM4BByWJTWrvsL0RRleNEdYTHLlBFTXBwRgXgVNY4qsDVXLjoWOpvMgABTHArtjarYtMEa1n9Wm4xi/B/nl5TQpH07lwgpIgTJW5yz7kbbFzgT4a9ePPbS93FnJH/cpYXuDOrjNrLcZtNSYDDVTUeaS3a3bNo+2zGJP0cRCGAnDS4RLauiGF0TFJrDyyIUwAidx1M3mWRoCpYus9mSRwrRT08DmKChx98XMlSoTMH2Tg3ZtEIVtpFMy/y1xN6NMpYmisKvW7ebJ5lRp9NL85C5prfCF4Rs28eRXKzevy6EeDr/ltiAMpE3fb/Mbdctm9F1aOU2cSLLIxM4/ZuBnGBrMTkY4matiYwjpTuakDlZZT4V4vRR4J1PelHBTyK7paJUc7vg2AQ3Z1BuqtAKVu9cYlSyvFfbksiCImv/O6HTZnxEtNYKcbTkNBYMKrZ1YcU2x1bvaF/y/yoiLJdrd+TlvE/h1KWGA62iZjSn5cMX3z9VY5Bj+L4ZC/J6s7hkSuPD2HqwN4HgutLnPOv8MY9jZbBhH1xTA5mzRLCniqCSjytIZQxFltJjqKHkgNNpU6zze9y5lbkZnenFb/Mrz5VN/9k8tJy15csvWttshymikJyqr6ojfu2yaG5+ZxySCcyPxeLUEUSROvZskEAVB74ANcuyosLCP2DgZqBa5883WkWZD1RbBrOsvpIbnDXNpWVWdINYS3zrHiBPk/N8cIyyrod9qpKnE7EptXLrzzgT845KL+ldIdgfD1ki8R8g9LGaYd5ZP2AQPnfdMS0S9R9lSyvW3HL9dvpF2Rd4khwdEqP+h6R6OlJJ3DaVzH07XPWKCQNunv9rok6b93Pu/VMw6M2Od4LKyIF5ZiZkiZNpMuZXO+zU7Qb2jyQPDfbOB9xo4zqjqzycNEMVJxh8EPb7yww7GU5WiWwjxVhBr7ui7RPTXkG/mQwz9mMK/9UhN96KNhqtf+YmYbyYr0umhzGHuPi68gV/EsYgkx9ecNc/BaFEVvYy6jusO6B+fR0+mWqY/Qk0AtLITOZ1YVEDSID9FxA55DvAi0JT63ilw93viNknM74//YwJ7OQ+LRBBcgLREoGhWhcI6usO9ppRd77M0DDTGToze3Vo6nLQnRJQ0JWM4bOMPc5ADMFsnPdDBJZfkgFUdBlo3pH8sOJpUqlB2rBUVRg6IiknZwT/maBisbRIoLlWoSwLOMEw4ntvA32FtaV3t+blEdq+lFPuA/Y1Z5W4vgzBa2BkPOc72I4ISD7ciJqu/XU6kYrJ8OiCLCa3AXSbcPk0Y+JYf8+6Jg40pbYqHLlTCriw8Go0JTMInvpj/M5igV1VK+Fh7St270PAJVr4Rij/+Raz80ovZ3Txg39j1WxG8m4Fh8mg7ttm5fGqWfKGlzDZ9jEi5z+dzqeHHxV8EkfsrfTXCKMNUWlWvrITlU6VMpDnW3jQN8Vd3p6skIVYCK6soFXNoNlXmWVvGNwRcqyGHA81v3rJEK9JK2orj6C/GqDhtkr2bMeR44UJgTOEBW4MHR1Ucd0oGJ4YzT2Nywbr9WpVb9KY2nVD8TrF4N123mE33PNx4s7QbkqfXH8nIbAJ0pjXZGV6DI02r3I2pcmUlUifmVO0hohj7dIRUBegxIQ84d739t7Jplo0Z6PdWAMW3Y3xTMz27YFSrObJppAMRFLDFoSwNDisSQGjwymTDPAlNCXvyx/b80t517rtvqrXUNtvfLYQRsoJoIzplDsfjJWu5ofF+NNuy1OYwIBNc+IYVX+XDQFLE1+PuRBjmPdRXbxpAEm52Xt0tKCmvLjBawtn1D8nNb8sXTPfMIvg/KDaMGfeUlVhJTCL9D1ZCKG9WtG3NOUIv647H0eL/awrFTSD1qsgTP8ee8EypspUKRRXrXAWjVK/WnIraxI5PUaL7eEq7Hg4QzYxtcA8ewD9iT6sSx1xYFKo6H/Hq+gTnB0BcutJS9i+T+EJmkdV7B6bP4LsDURIGKqwx6Xc27C5mxYAO0HJsay9STTM5EoO679BZdKhzRf5veWgJJc4rErMfStc2rhAKBD/1777I9k8etBExkAMF+E4LU+Vuh4s41o9PPw7t6N3+OJJlmXdF8zb6LaGz2pmuPpxv/AAl4S35g4T6dSNgfWNtstzy0iSi6ih8I4Y17UDWAMdcIwxn4hzoRjNbg6Em8V1suJeKyxa87IlZeKPIY73wjA=="
          - name: "infranodes.enabled"
            value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### OPENSHIFT IMAGE REGISTRY ######################
  internalRegistry:
    name: openshift-registry
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-ocp-internal-registry
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-TOOLS ######################
  gepaplexx-cicd-tools:
    name: gepaplexx-cicd-tools
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-tools
      targetRevision: "*"
      helm:
        parameters:
          - name: "argocd.route.hostname"
            value: "argocd.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.hosts[0]"
            value: "workflows.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.tls[0].hosts[0]"
            value: "workflows.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.tls[0].secretName"
            value: "workflows.apps.play.gepaplexx.com-tls"
          - name: "argo_rollouts.dashboard.ingress.hosts[0]"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].hosts[0]"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].secretName"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "sealedSecret.postgresql.password"
            value: "AgADpL3zJdj+LPzRmRlDwSElM1CnysyWIa0gHJwJoRKElitke/4/b2mMsatXBG99UWezr0Ezf01I7YtiOGUFDhFZvOwIEOI3+KGp4ahrdBYedKSRHBYBGb8RcCnhXfUOmjfUw6XdmXnt7Wovs5A5aNztIhfLsQM6LuhBbIXDW4DE0qI2a84HO3nVkV+drAMJmSOVCZU3Fo7pvDgcMuaTAVNsVg4sgWvSoGOdqiwYIDhxj75XuXs8CBPc26j6RgCPYABdegWc5qe6pLZsS7o2hke1GXVgQYLBIlCfI3VNeimr0qj1wloBvAz8DVA5qSMlfgIJ65CU9HCAsrUh00H+xJsN6pecMbq43OhwIa0e1rWXHRs+IpA4w3hxmI3FgLa57/+3lbmD7BPPQ1FnbQXddttH8Cagty4UYUPkDzxQUAQIX3OUJJUIw3reekNxUS4OgtfIJ+Uc2GlGaAnZInT9KDJWZvF5S5GJ6dstzacw9G4em88vP/DVN0iLvOgdJwNqamaenlymT8sxXy083fk26/eWU1otPDNN1RqHQWsKOW68cGYwMyFX8WeMcUZne3mspSYDg84B5X4PbZ/8D8Wf9TAGHwsm4Ymesm84P3DFvzDTDaEViddPeHh3Xrxih8plHOhayzHnmsX1rfdqg5/7fV6BHh5htgPsnFsxWLdVMXHzwAM+MEJl2U0vMcr6lwpa8nLJKhIJqg=="
          - name: "sealedSecret.postgresql.postgresPassword"
            value: "AgC4XBri1BTYmNzo7y918GDQmJzz/g5S6afe92czQBUxGxCLzwBTJdFvmbScYNNicDDPHJHqTPdtpMFUzAj3lUKDxYYbQ0sjsjhL+FYm95N9dTQqUlwmT708Eo0HomZXwHUvbmdqAdyWGpDh1TgzpINVaGPTtCwzEID3Z/Ptco8KECGJOuMdRzfusIM/wdWm2GNmivgnXeu/TjAXZIrB2if4hj7UjpmD9q1IUVvqZoIoimyEcvaOFDHwCK1KD2ndOJGPN4Fsfu8TuVe8RXBn5AqmSirG/XwsJk4ZcM5HLNGRByQ8IoTQPyavicjcvI8lk8yqhfG2C4t9fR5Vt8oZD20OESVA/vY8+Y0Y5/KlcVDKEcBxmwxYsqP/9GlNBB4iaFs11HWgFA2uDJyHwYyXtT6vtcmh+xz+GNlPJzG27qtHCrK349XkY2qoz5L4/vtbSoD4kJnDnJgtAQhcwYuZQE+B/9IJixHbweLqkcSfagxKDNILSiHWZ9GHdQrzvu6w4uxOabomVmwcT0qbvAgO3zopTLe/XxKwi5gzTTjF5FSu5I3Y/+kReJ8bPrSx2flr5jlVPF4FdGy9tBbAHA7/1HSWn6GdnoTBXQnmAQy28Cu1vgr6IApiaiIIQ62dwXoOSrRezk9apQ1It2SsZZkfDasDdNuflX0ZLyIBc9AnWP+C+0EpVY7QbkAAdmeolTxfB8qwUmBWIw=="
          - name: "sealedSecret.postgresql.username"
            value: "AgAPFjq7TwO3nNRDgdXgTtqlTZBb1iho1OcFL/9KguA+DL7Ijwh7Iqeb+3zD7OOaH3HpQzFxbwq9Kagku5Eel9+FWlhuD0NsCLKBBC60ro6WnngsFTsJufsUNitaMFneDbmgqYsLB28AjsIoj+v+4U276Ng2+ncumeWOer16ohRcNh/LwZxeFPUoKNe3I2GqEMM+8MlDZAZQ8HgZY/Pl3KfvinrvvdrGns94Yz+b0ciAv+98dCWvvkeAzaI1pU/zc7VYevezTLHmKo715uKYhTBbyAGvmNr7rQxieVGFFvWUEcI8yl5JoDPbqpGzVkoezSBBIvpTCgGwKupxJnjy4eKObtOzIqjt7waU7uHvKC5rnLnBeBH3NLBE8XcgkNIQjYxaFUfL+hyT+Xa3/33CLaieptEx4A2MV5+9ZSbEI7RWj9Qmyzc0FZC79SJKsQho/lZGho3xs0ErOlx7pN8GvhZoS4fFc8jad5oyS/sCFL7F+iWeqSHMwRVHtm6F87wwozJnOxEUW40/qPVzxAQLuNzzLbkMcmCTelLwoUf2D6ZgdUpiH5HhtRblCdihGTED05RhNxkzkK2QH+IiylHMX2sw4/j1f8a/k1AJ0zZ7CT5DVkXkDJr9RUvw/27a1rQ4aVlAJ88HjHEr4cy+LajrFJcwQcgDPrQI91UKdeGbg7IM/bbu+lF1KQyiic82R/Yj9D3hNrHiZl7El6giX56l"
    syncPolicy:
      automated: {}

  ##################### GEPAPLEXX-CICD-EVENTBUS ######################
  gepaplexx-cicd-eventbus:
    name: gepaplexx-cicd-eventbus
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-eventbus
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gepaplexx-cicd-eventbus
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD ######################
  gepaplexx-cicd:
    name: gepaplexx-cicd
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-gitops
      create: false
    source:
      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
      targetRevision: "main"
      path: "clusters/play/applications"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### Grafana Instance ######################
  grafana-instance:
    name: grafana-instance
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: grafana-operator-system
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-grafana-instance"
      helm:
        parameters:
          - name: "datasource.prometheus.url"
            value: "https://thanos-querier-openshift-monitoring.apps.play.gepaplexx.com:443"
    ignoreDifferences:
      - jsonPointers:
          - /spec/datasources/0/secureJsonData/httpHeaderValue1
        kind: GrafanaDataSource
        group: integreatly.org
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### VAULT ######################
  vault:
    name: vault
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-vault
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: gp-hashicorp-vault
      helm:
        parameters:
          - name: "autoUnseal.creds"
            value: "AgBcQ+iUlwSjbkOcgKoUpEASoeXCSAaFXDrqMGOFX5/B5/1IlAqfehDoeA/fHw5OR3F6q++ZdvfvmAi80ejIU9Hp/Nk39o18KhyCHGxUHydvGpXqM20H0hSO4ds4iT5rwN861ANol/rssqL7OwJVtYrvmj+PFh6tluDa+HPZm7EA4ID5acBRPKuujz2+myyiVSDGtQM5EHWK3O9z1ZjiKjBZevOVfzkFDMYGgC6UZqg2FZlSWh0n9DOSMXZkHfObWPIN7RaFg+3Fgo3pqC/1CXoWReIUPFZnhiTj187Bm0W9ibYnYS3pHjorKTiGQWEeo6fqTQ9qy/lWR+XAUhWZTtxGrlWDPkk2EXsjrA9+6j+V+oxy4VHiYkP9Rh4lIaDetSgQ0abGTCpQzyrG6JH6cGAxwLui+3a51S2Hx39JZcsuCFbdaJLX8xIqv/EAwxDAWuCo1iCAusytj3pieSBEPWW1cJ7RqTFPcm35zvaF+3MsTQbvf+TMm1v9Pp5hESBODinHIjW8+E5WusbXqQl83Jv8RHScQz1BuTKE+f9iJ1VK2MwtPzZvA9zqcVHHjU+uYyICkNoXCu8e4XG+tLg26/rU4Sn2v4o5oOYYqw/srDN9L/bb811fI2TMRnxlbUguOwmmXFmz98/x0YC6VbPFOfxy4pwoxde9irud0d4pQVXDDlUMaJVyJWN8wup6iJHVq+GEXfB3CnfkkRt6UieCr8vYI37sc32wUAqDfU5S/6GTBMlWjSb1NDU+iAl3dOiq87LU/YwCEdZ0gSzDOOXUkOTSn8UXdO0Tin0grScZbGzQWgwyrp7bvEPGfWs21kL+dEbMvN+ofvLXzWfrJY4ZVwJyrztqkIvcdLx9VLmlItx1DcAtYii9zgVn6SsIZ786hdLPGTUQ0x0DEB/ST3JREzwIsWEjTiLdas+fVBdSonrcx5iGQN8FrMMVWVH0Nxz6WZibTGWrKtzwS8n7ZYDvn4+WHVEQfYG4CGD0XpV/PKT9Hd/XeWfh4ozkPHwEniFVfqvnbNWk0TpmESMWDd+4bZPAFKeILP47r+yWm5fxfPTFKvyAoJPl8SLQcr2IzVdRsv+iq+0BpyAQL2Kc5Kh9I/A0u63DjkLEbPDcy7rBOv4fDY8n/XW7PwrZpSni2P0rc8FZVOo3gfEpNxwyXAEMbo81vaLWpqBAuto+JbqH6Lmf8PGZmo08Ip/Dzxqgk73Aw+1RoK49c+lLA2CWwoq0x5cQoBzp1JK1E7KQto7X3ZMEvUj47kRIKyN1gFATrvO4th90zwxWTE0tH8cG9smo1rLgjYYAZ9nq9MRJUuGLg6ZmicgSHylapf8BMWvBb6KEE8Wrz/9US9Mqx/S184OOkL5hnHUDk19srB5Z6WOYVtC9d9dB4r9frJLIqi5N4pgB50rOSy4XIz+nVdRgaXCZYlQ6vuas96+QRmMohbdWffsAnsENPHLzmR46905AjZiNDMIZx8Q/OPckZrUB1AFE0Z9WJ8X0R/iaW/06Zx3o6onSZZjjAOPtyl21NeNwQKT1IjBnn43mJDoQlqqzrs/Cst43/U5UmATjQgwvVsg1dF7bpWuxpruLj6bPRRMO6+0wICUPJcquHGFVNNQJrZtM+kKezXiKDOf7lkfUt8rw5Ja9unt3Y9K95BhRqRoRm7y3z6wp8QPcTXoj72xcqlho5T9Ypea/Zy1pLC41BxHpVTL5kzLL05OHymY/+OZVTV76DRbNyZUxTKzIJT/reHJQ7qjrLvt5eSzIAEL+yf2sEG/ugDza06rkEpkEPhXMEFVillvRWDRqiKt7ychG/OW3lB8Zm6gxNIK2bOyQZSZwuoMEDMHtFTZDhhxl4zOrOnuF3rGlChFwXcN9FNzhzwoggs5g/tC3MEtzGvK49k1H5Zw1rdkSzg9MRrIfpNPFdaK5x93ulum0LEPz+A2t8ForK/OOa0VsilcP2Hh5TAmVbwyDChgfpzUUWQQ0jJoR5nOsXdMi8678zrqA/bIgKnJ0/LsuRaMCAFlXCGBevAtHZT98Jfcg5/7ZxAdIonXK7OGzv1jBAjc+zUBTjEscS1h7MV5YGdD1vNttytB6zuI6PkTprGP1lmNpa0bhuz2SF8lmm+1pmpMgDPcG2uT0STOdPEcpk+mRQ5Z1+R3y3dASMPYo4L5O2TfIXLWcAH+sc59lpvA4eN/mpjHBztLeK0SaOBoMDzc0lV/32mybMuJnqNWd99LSxe5aLiTxHhy2qU/hLRKRHdjJDSrRQIrdzhtH9WA7n9uizS5TrndMuTJ0mm0j26KsPRmC1AwPutCh57GZSJw01pUOWlI0RDg0IB5WxLpLAxMFjrKzFffV1++UcDe7tqi5d6U7lSyWr0QJ5Zy7hxNbvNweRD8VfdOyRjkw22tJ6wwIL545psu98seF3wFXu6gNuvPw1MRcYDEYU+GpPaxTMOcjgWUGoVugL6zAPRMGM7l3rVwVw9BriW/BnJ7D6gC9MDlcu5psgK8Uvz1bkfGXEdkLfxHkEItzL4eS3VOIOnUpAeF8W+aoDw2xKkm8kGBHW/LFbOt7d2NPKKM8J4jmzZwkfl7jsPL/au5WVzpe9+bdnkI2ErEB6v1AuqdzLiZFQ8iVD2vysM76HEUD4+K8VJ8Phd3WcC0+xRMCNLda6fKb0cXNgO+H5RgAsTsQJ40ihp3hn8ugJ/HluKu3theHA25dScHSsK2pOGOQ/vV9Y/h56T4L6j5dSEh7NfcpWwnesHcU8W3ZW7ttYsx1p2eXq06SeN6uQGf0K1tGdA8ekSUVHuYuHjCFrUR9R9b3I9aAlzijRc7PVpG7YeSIaDw3IPezis1fuJk5apjCrNg+WRuF/Oc1gJ+6YVu6jpRC14mc8Z6baAbaYRD1DAZd4nFt37dC4x36hJxy8/LhyuarUmak3FKpggauDfQUJbbDzAvBYf8bkobQmm2B0fROUk28ryqLQmV3iWr0iZ3X76sXzKTzhpjRag66VD6+Oo2pKxdlFzoGOgNRNVnVZhM9EOO9hIj4uVpfkQLk6C1vytAU+Y47kMj+wnWs9B/goIF//qpQLl/0F8Qmy7LEZtvW3PALGQtKupk6b2Ie/VhtGEFgVRWHS80BMgoBdksuUK3wk8WsCX5J/SPeWNlYc9MPAA0uxzbUSnFIP8r4G0PkchfASTuoJLLDJS/3Jh7IZQTuuU/cBtdAXIwgk6B6dY0v2KUxZcNvn0DgQu/kVCck+j/n4V//NYzlvoms7CQYV+CzQNuHZS9Qy0nAYh0rgPdlSwjufzSIhz2m+spegTgpholUMBBoEa3us6/HJVMjf+tLf3i3m7dHdJwTvUfLhHUHO7rHWnJBAdzsyeTY4yoA673xBi/5ixUxXc7SVaJe77Ors8HrG4rQJwBsQOrlzJ39lW6KkYgDb+qKYwgp8xMh9sSOFmkdlXwerdF6XIDtzFNfZaAEOR8VzwNfWa78yWF2MeRJ+PfpjBcbnXqTZlb3yjxuaLEdEfcl/5FZFHavm6xetb7BdH/7bVbDIyshGdOieENiNZXPOsaP8r+co3gjcXiqjf9ZTPm/d0vnwg5+VKEZl74buZ6M74rCeotaUrGCkAUaRW6dWwJCgInkeJlIogkXh3xuN8uVQh8V0qYTTdlRoWLnjBE8q1NgkNkB7QclBNHzpswOAensn8zDWjQgm14x/bUwrZX439WXNctIR3fiQz1vLAA5j2OGD3pm3Dcqc4Gx3bf25/5M21U0J3PH3NQ8/nnb0NyhFq/iIITh5bhuY8yvuaT6B0b08g=="
    ignoreDifferences:
      - group: admissionregistration.k8s.io
        jsonPointers:
          - /webhooks/0/clientConfig/caBundle
        kind: MutatingWebhookConfiguration
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
