project:
  create: false
  name: gepardec-run

applications:
#################### KEYCLOAK-INSTANCE ######################
  keycloak-instance:
    name: keycloak-instance
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-sso
      create: false
    ignoreDifferences:
      - jsonPointers:
          - /secret
        kind: OAuthClient
        group: oauth.openshift.io
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-keycloak-instance
      targetRevision: "1.1.*"
      helm:
        parameters:
          - name: "ingress.hostname"
            value: "sso.play.run.gepardec.com"
          - name: "keycloakConfigCli.enabled"
            value: "true"
          - name: "keycloakConfigCli.cluster"
            value: "play"
          - name: "keycloakConfigCli.identityProvider.openshift.baseUrl"
            value: "https://api.c-gepa-play.gepa.vshnmanaged.net:6443"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
#
#  ##################### EXTERNAL SECRETS CONFIGURATION ######################
  external-secrets:
    name: external-secrets-configuration
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-external-secrets
      create: false
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "1.0.*"
      chart: gp-external-secrets-configuration
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

#  ####################### CLUSTER-UPDATER #######################
#  clusterUpdater:
#    name: cluster-updater
#    enabled: true
#    argoProject: gepaplexx
#    destination:
#      namespace: gp-infrastructure
#      create: true
#    source:
#      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
#      chart: gp-cluster-update-checker
#      targetRevision: "*"
#      helm:
#        parameters:
#          - name: "clustername"
#            value: "play"
#          - name: "checker.desiredChannel"
#            value: "fast"
#          - name: "consoleUrl"
#            value: "console.apps.play.gepaplexx.com"
#          - name: "slack.channel"
#            value: "AgBfDGv6D04mh/nf4Few4hJXYljbGYg6TUBMzdXu3ptBh1qYHAKavBLP3TXuznUUgkLVbB9cjTC/QIjZ8TrjfnjYt5BzFU0NhRHV6TLC8sYyIEq2b26s5vg4PtwIdPOD0nY/YWDLk7qzw7qLS2/NWAIaFW4g4MmQZxdHhBHATLh0aEuh5rP9DFL8bsH8EGPk+6CYsziKIbZMz3ihfyfV3cFT5EbmUg3u0mwVYH46VJquE1p53EezrCc0vGh0nwEjdubBlV14kLd4dlL2nEBl+D3b/41jc7gJ3vsG+Xj1t46yfEOsRaQtv90WnZ35PF/gPbBQNQnvay8cW2qnJT96hIEUKeszPzrgR80f1JJemIc5O10GZFXMOuZwAmBx9mqhJ0L0m9aPo1KkDVfP82opcJdhUJQJtAMyMulu6M0cRKQGZFvgOtQE+KyeFRdMpBLj18FMQ812rhWMbyFTGEFkLYp1DrXPlx0JMN4mWRkgOhSKWNVRJ5y9buvo2sSdWuP9Svkipbc3RT04JWX3MG0/E7uwFGlF5NTq1LSzDd49WXd71M+vk0twN3GqlarcnbA5wYMJnGvMhMy5LtHYcshaA5cfm89F9HWmrNrSa04R4NLL8Ep/j7CMU14oJRTvP67uMg8xo9aUqb2beO9trQIB5G7alFGweL1OsNVSTAp13/NdZWGroQ4G/xXeIBqTjpKzdEG7SkyXkb6WZpwdUnazJTLrv0NCtl/JX55i8wFQ7egwEpC9BcFvQuhYHtLRb3xsugx/EnIoMuTWBhKau8+0oo/NIExkkzWyu8uoElgB5BfoE8R8"
#    syncPolicy:
#      automated:
#        prune: true
#        selfHeal: true
#
#
  ##################### GEPAPLEXX-CICD-TOOLS ######################
  cicd-tools:
    name: cicd-tools
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-tools
      targetRevision: "1.1.*"
      helm:
        parameters:
          - name: "clustername"
            value: "play"
          - name: "argo_workflows.rbac.clusterscoped.enabled"
            value: "true"
          - name: "argo_workflows.server.sso.issuer"
            value: "https://sso.play.run.gepardec.com/realms/internal"
          - name: "argo_workflows.server.sso.redirectUrl"
            value: "https://workflows.play.run.gepardec.com/oauth2/callback"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-EVENTBUS ######################
  cicd-eventbus:
    name: cicd-eventbus
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-cicd-eventbus
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-eventbus
      targetRevision: "1.0.*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

###################### GEPAPLEXX-CICD ######################
  gepardec-run-cicd:
    name: gepardec-run-cicd
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gepardec-run-gitops
      create: false
    source:
      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
      targetRevision: "main"
      path: "clusters/play/applications"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

######################### Grafana Instance ######################
  grafana-instance:
    name: grafana-instance
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-grafana
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-grafana-instance"
      helm:
        parameters:
          - name: "ingress.hostname"
            value: "grafana.play.run.gepardec.com"
          - name: "sso.keycloak.realmUrl"
            value: "https://sso.play.run.gepardec.com/realms/internal"
    ignoreDifferences:
      - jsonPointers:
          - /spec/config/auth.generic_oauth/client_secret
        kind: Grafana
        group: integreatly.org
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
#
#  ####################### Grafana Dashboards ######################
  grafana-dashboards:
    name: grafana-dashboards
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-grafana
      create: true
    source:
      repoURL: "https://github.com/gepaplexx/gepardec-run-cluster-configuration"
      targetRevision: "main"
      path: "observability/dashboards/"
      directory:
        recurse: true
        include: "{all/*,play/*}"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
#
#  ####################### Multena ######################
  multena:
    name: multena
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-grafana
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-multena"
      helm:
        parameters:
          - name: "multena.jwksCertUrl"
            value: https://sso.play.run.gepardec.com/realms/internal/protocol/openid-connect/certs
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### ALERTMANAGER ######################
  alertmanager:
    name: alertmanager
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: openshift-user-workload-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "0.1.*"
      chart: gp-alertmanager
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### ONE-TIME-SECRET ######################
  one-time-secret:
    name: one-time-secret
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-one-time-secret
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "1.1.*"
      chart: gp-one-time-secret
      helm:
        parameters:
          - name: "ingress.hostname"
            value: "secret.play.run.gepardec.com"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### CERT-MANAGER OPENSHIFT ROUTES ######################
  cert-manager-route-extension:
    name: cert-manager-route-extension
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: syn-cert-manager
      create: false
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "0.1.*"
      chart: gp-cert-manager-routes
    syncPolicy:
      automated:
        prune: true
        selfHeal: true