project:
  create: false
  name: gepaplexx

applications:
  ####################### CLUSTER-UPDATER #######################
  clusterUpdater:
    name: cluster-updater
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-update-checker
      targetRevision: "*"
      helm:
        parameters:
          - name: "clustername"
            value: "play"
          - name: "consoleUrl"
            value: "console.apps.play.gepaplexx.com"
          - name: "slack.channel"
            value: "AgA0ym5EyLQjaqkepc0IEYUruXnlAorIZocs6od7bs2pvEh0Mo9Ij+QITnjan3ImMxHVM9S5Le7PK3hsXIJTYibsJy1CRfahO1STCFhlpqXyhvkjpm9HC2q7vI3+CnoTWT8L8RbHFg9BTEYh7hfh9MBfy1W8yRFy4oq16K9V0HQB9ah+jkN02IMhcf6mHxu8Yfa1bRRvOZfbTFuBrLZwawZTv52vOB04zOjyRNBeb5RCel/pbah5GZKQJI+gO5JdX6iObOjIdOtGFvkllGTo8GPgsRFCoEAXqafBLm+5J20kNHT5uZl59tLybLOEzfKTipvm1f+oKBQXoxXVN41zuJcp49Pl9eLBXpEqfO8p4clyX4YWYNl5es2GHEnmbVXyKhgwlpj8xNp4anT7iU4zKXV+mpTbiaCHnaZOAXD0QaVQcxdkwjkDYMrdyP1mne3iK0fMuUMww2+WzXuW7ZT7RWGTrFAR91emdSppCU5VMD0HS8ZsxFGdqIQlYUn5XJWE6SYbQAUku1gp1ayD+kYrjPV0PWekpvcGSIw+IdiYmds8ov1+7pr7X9Dv8ccTv6CXZMqPlQiJ4BPiVYdZyYU2fQfvBQQovXSKhp9RkmcEyZ+dvG3lGjoGjBdgemMK58YgtJzcidruFAR/BuAeT/2+nTrq5sHcFtnElb4wYvFDmteV7Htcts5RurN87p+bNS9+azYvsIuJQNg7f+fmMklMyM2EKp6mzu8HEybm9BiBzerRasaUnx4F+qNKGHQKbTu63EMYo2HqP2zQXOrDZtAPc2cnpUTx8lURk/8PyE/q5MC5cMc="
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING #######################
  clusterLogging:
    name: cluster-logging-instance
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-instance
      targetRevision: "*"
      helm:
        parameters:
          - name: "elasticsearch.resources.requests.memory"
            value: "12Gi"
          - name: "elasticsearch.resources.limits.memory"
            value: "12Gi"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING-EVENTROUTER #######################
  clusterLoggingEventrouter:
    name: cluster-logging-eventrouter
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-eventrouter
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### CLUSTER-MONITORING ######################
  clusterMonitoring:
    name: cluster-monitoring
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-monitoring-config
      targetRevision: "*"
      helm:
        parameters:
          - name: "alertmanager.config"
            value: "AgBkEvN/TbGxyhJrUCjlnVbYzH4RQMBSmhKGdx2I7qKnIFIiRzna1uDRE8C+uZ4AQkelLiI15mbo2uWGmXid78ivNnBGqm1LcfJcvXNSUSitULq/6+hxr+gkyHe5EBVxnRRUwjnlfpMgA+DDGr7KAfjMslSF+TZgGEdTz8WCHV6/V6BXQXbb8HB74Kqdu26r7s9h51/+8qjEMrkuQpRCB+JuPRpWVfBSseRob5tm5OE1uMICDCHwphkGWT7yafiiPelyvsS7cZ63mLObvo06IraTVJ0h5kQQwU97ujHu/RwAYk1np5JlO2JtMDhgvyxhy/OSA8CUiARwhmJrQ65eczLabLvMrEXPKHCjlps1gTwwEAQjfJq/SyryxvcIGCvOXbIprn9FraE8xpvhIMnsy5kv5u2oLh5w39KyqEip1giR8rxF3l8tcjJ+snLipJoNNQAKoirBrqAhXe7PS4G5xjRhkQk3fWDKcfCIRuvfa7KvzRWJu9m77JyKYcH86J4NrpN7Gj0UI9fPKZd4cMQHjZJuZbncFNYcqPoaSI/XMl0XdKfl9y2GfXPdPjKDe4Jn5MKyvZv4+dmjbDdYl+qLkqMTbUHYMith8JQp2kGNwNKibe4G0MLYrxx5HCkpSyiMkk4t3UBZ7Tk+MBjeL1It2kHWT/BLXOYyC5p4knqquulZJjV/7vsvVgGU+RBrDEvJSwEI5w/sfmQMMfDXDh2920KzuIKsX56OjKFnG20pUCnVLDNcfIfFpUTBwe3yt5EbnE3rrRuV5NXlxj7RQf+j52qed3nSliW+TiRH5y/kb+ExQKi36Z+N5649R64iWbQTWELq81l2R/RooZrsQMFuX4oYd+ET2Orvy2p44g6vvlDTGWq/p9QzzSyN5tZRoHiAuWipD3F0NHCBa7uZpwejATBRHXreXghKVdNrgJzB+yn+wjaDWAKcVTC0U44LhimtweJ59AjJoekgrqvq9yD9tWM1Y7DOEQI0w/E3VEdvO/EwOBn2+bsbzM1o372nZrirviiPejIIj0/+q/ATn58V54/L5ejB/3Xn6ZdyGqnAHxVXUMa73H0kOAHXkmXKl7tJ5E6UjlwJdqNMw7LmhGJTJ9/6fv7nf+7soZJpqSyVziG/Xv1m6y7lj3pae3LcTCmwqnf3hyGPCI0/QiVqvIDpzydEIERm5xYgOr578K8pdkAP0c6ZNMQ4vfT4g2D3sMqMAoBl5E1nr++OJXG+cQyBRlKfBZmU/VW3z/xtF3FneRw17J9FoXa0EBVmDusT+KWxnurqMhDit5RlHYq0ZOJJcMqwmYUX//PrJC4Eo0m1O7bHeiy/prNLsui5c1PYulk7WfxHMdi3LHhAa5pN88DOxK9G6tPOr2cCMn9uAUaGSjegDcoNE5ixEHVuyneHB5XDVus1C79ZrnySUqoILMPPxLwxqkTTXTndfk1XjOzebFOv0FgM3AzUDWRWb9POGiK8rRgrN642Aea+mkggQHZk5podFqOCOXG8uI+5adI85DhtcJCPEeG6dPm35ztDV/SlDveDFyeIK+FbbsId50Rr/ftUzI8FIe1C6purTrISlzKMd8/59g8cvo4MIH6rq3G4xMDtsObrf7fLTUoAz+bnex8zkqrI7btmpMvpMef0QVxgPxVc5rzSSBruMc+EM7XnnoCTCd/VMC8zKi2CUsyGZ/8sOt2SmRNPIZpsa4pdXv14BXLXMi2GuFZVf5mPUl/Bj3ylibOT1Ike69UmR9gegoxL0/I6NRRG4HfteUqnsP4wdJ9YSqUmcJlA7VfxDz1nA9xvKRuZYyr3u1TIzuHJ0vxY/0Ir+lCZUUT/hHrPoyNV/Xia2LVt/Itt77N6wPvyrJsH7X21Hr/CxaEYXa9jeRrdU07B7g2DzcWDGOV+CIMv32G5rgV95GLId9sO3xjb6t27ODoOowYTFFs+2S+fhE7M4bgrYL0suOl3cMAXE4yGrcNncdEDpQawIYm5iBch6t15uX+JLhWUTw9VgRVjenmZrLB21fB86/cWBiHIv6n+YEb+swfB7cBT5n9cMpnyIXx5Vdc2b/Vc8f3k2GSH1AZsbLVP0npSArnH2t0N+ZpvaZRXF6Z6rMANFEPHGiPmqXthjZQv7gcu6PZprw11h8FyQ1dJ59WQHt2FDDnjs5Ij5lhRH0u5y1BJOhjy+UjjrIFQ70AwTGrnKsY30DRXVb1VRFvGaJ5l0AQMhHtg6hYxUNbhO+yJlewo1tWIBXjigUIQayKukfg4FBlU4WRreyt+KhY/S1+OpZFu3jXzQeSoRs1XSlkeM6pKt5osaWSlKQbAqDemBgyHgBSjQ33K93aDTX7+Eb/7+2oD9zw38lBvP5nsnKS3EgkfJXDJR2iwAg7L4WA7D68aWxx8F/WgQ+z/7aDOkhepvxRhPmnRIX8uHjYtHSEGLU+e+flR6wJsAoB3Pz9V43kH2a7ZoUw3PCIo8qZV48a5a2TgJBEYjz33DlUO1RWXihAHNlH4Rlct6pWauQoKGiUrrjJBLbH5Ti3ytF94FvKmHjRxX6NTZe+OH96NrriQoyH2jlfOBxTiYozXHmHy/Lwx8El3ujTPoD9JKYKiEAfARgT4Twgy6vtWf6+HXI2HpDQL1oI/98TL4kca28F7XJVJd/6r9KCbVDVk+hxx2rFYMPcFvrPbW+cPZbCY6XE95x7hHQmIQSq8CPmKMoy/KbIqXfN8syk475mX1ysnA3VH3sRo2fSwGNr2BhEbSgOHHbhksroT7YRtMCVsz4AJEauqRHWfemdXyuPbPY4RRGAyXYJ9OBXwrKbFLS4c26KXNRSkPyORzWNntRm3qXxKkHH/d1O/7DL1zUyOnzkipLhJnlMYJvuLNh1CTPfyAtlo6iITtVuOIf4fmBgknHXYZNkFVULFKhWX/QRJqrGlFyvAHSO1W+eqYx1P4SAXuZNe+YyOIR8UjXE3VCiCIHO5Ub58cGUOp4tBVPbmY22OTOf31E9dNAoZHIJPBoPyDK/emV4bhAJMRnWvyg2I9IJDaM1BvRMi7ruVkSrUdsPbKlakXuNtr/fIoau0ViddpQ5oxrNNL59gCd577XBJjH9mvCR2VNOpLZCExUtgKTa1xzFFE1X2Q4+1vLS2Mp7Wr3cXV5Y1tAfMZhfpoT4W25zvhnBjEhyG54mu7bBUoPt9fFgT6mXxT1c7vPTDNK4Ig8RbKHiL5Aa1KL1BLIhrtDsdHUySfOXeFrUw8+LyAI3EMkl8vJhPqTgblNujQ/DHEtzP48XsphVy7fWBGz4YPtL0pm2R8ranBgjsUrZVI0XyiBpnR/7LEb11ElKzualRnfzhA4S+oRp5lcmosdMI80ByoQR8Bj1T0yu64dBBk6qnWhKo34Q8C5o58hEWd7fG2fIUUD8bft5LyW5A8K5MVslUJrS/hNUWnEXQW8wyn4TOzbtibvYfIMXglY8cDn24OfICe9Gc94kW3RKsKhdbk1Z00BDK9B3rFzRPe0/zwFgNWC2zjbeVEDVd2/V48wlktL+IJqYsVyhwjc3C1ZHUAANMQwtEM5cS0Ku2mkPYmCJFN0iIp13/OngHYDLNGWdczjezP5YhoUbbm/dF6FE="
          - name: "infranodes.enabled"
            value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### OPENSHIFT IMAGE REGISTRY ######################
  internalRegistry:
    name: openshift-registry
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-ocp-internal-registry
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### KASTEN K10 BACKUP ######################
  kasten-instance:
    name: k10
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: k10
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-kasten-instance"
      helm:
        parameters:
          - name: "kasten.auth.clusterApiURL"
            value: "api.play.gepaplexx.com"
          - name: "kasten.route.host"
            value: "kasten.apps.play.gepaplexx.com"
          - name: "kasten.clusterName"
            value: "play"
    ignoreDifferences:
      - jsonPointers:
          - /spec/auth/openshift/clientSecret
        kind: K10
        group: apik10.kasten.io
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-TOOLS ######################
  gepaplexx-cicd-tools:
    name: gepaplexx-cicd-tools
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-tools
      targetRevision: "*"
      helm:
        parameters:
          - name: "argocd.route.hostname"
            value: "argocd.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.hosts[0]"
            value: "workflows.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.tls[0].hosts[0]"
            value: "workflows.apps.play.gepaplexx.com"
          - name: "argo_workflows.server.ingress.tls[0].secretName"
            value: "workflows.apps.play.gepaplexx.com-tls"
          - name: "argo_rollouts.dashboard.ingress.hosts[0]"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].hosts[0]"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].secretName"
            value: "rollouts.apps.play.gepaplexx.com"
          - name: "sealedSecret.postgresql.password"
            value: "AgADpL3zJdj+LPzRmRlDwSElM1CnysyWIa0gHJwJoRKElitke/4/b2mMsatXBG99UWezr0Ezf01I7YtiOGUFDhFZvOwIEOI3+KGp4ahrdBYedKSRHBYBGb8RcCnhXfUOmjfUw6XdmXnt7Wovs5A5aNztIhfLsQM6LuhBbIXDW4DE0qI2a84HO3nVkV+drAMJmSOVCZU3Fo7pvDgcMuaTAVNsVg4sgWvSoGOdqiwYIDhxj75XuXs8CBPc26j6RgCPYABdegWc5qe6pLZsS7o2hke1GXVgQYLBIlCfI3VNeimr0qj1wloBvAz8DVA5qSMlfgIJ65CU9HCAsrUh00H+xJsN6pecMbq43OhwIa0e1rWXHRs+IpA4w3hxmI3FgLa57/+3lbmD7BPPQ1FnbQXddttH8Cagty4UYUPkDzxQUAQIX3OUJJUIw3reekNxUS4OgtfIJ+Uc2GlGaAnZInT9KDJWZvF5S5GJ6dstzacw9G4em88vP/DVN0iLvOgdJwNqamaenlymT8sxXy083fk26/eWU1otPDNN1RqHQWsKOW68cGYwMyFX8WeMcUZne3mspSYDg84B5X4PbZ/8D8Wf9TAGHwsm4Ymesm84P3DFvzDTDaEViddPeHh3Xrxih8plHOhayzHnmsX1rfdqg5/7fV6BHh5htgPsnFsxWLdVMXHzwAM+MEJl2U0vMcr6lwpa8nLJKhIJqg=="
          - name: "sealedSecret.postgresql.postgresPassword"
            value: "AgC4XBri1BTYmNzo7y918GDQmJzz/g5S6afe92czQBUxGxCLzwBTJdFvmbScYNNicDDPHJHqTPdtpMFUzAj3lUKDxYYbQ0sjsjhL+FYm95N9dTQqUlwmT708Eo0HomZXwHUvbmdqAdyWGpDh1TgzpINVaGPTtCwzEID3Z/Ptco8KECGJOuMdRzfusIM/wdWm2GNmivgnXeu/TjAXZIrB2if4hj7UjpmD9q1IUVvqZoIoimyEcvaOFDHwCK1KD2ndOJGPN4Fsfu8TuVe8RXBn5AqmSirG/XwsJk4ZcM5HLNGRByQ8IoTQPyavicjcvI8lk8yqhfG2C4t9fR5Vt8oZD20OESVA/vY8+Y0Y5/KlcVDKEcBxmwxYsqP/9GlNBB4iaFs11HWgFA2uDJyHwYyXtT6vtcmh+xz+GNlPJzG27qtHCrK349XkY2qoz5L4/vtbSoD4kJnDnJgtAQhcwYuZQE+B/9IJixHbweLqkcSfagxKDNILSiHWZ9GHdQrzvu6w4uxOabomVmwcT0qbvAgO3zopTLe/XxKwi5gzTTjF5FSu5I3Y/+kReJ8bPrSx2flr5jlVPF4FdGy9tBbAHA7/1HSWn6GdnoTBXQnmAQy28Cu1vgr6IApiaiIIQ62dwXoOSrRezk9apQ1It2SsZZkfDasDdNuflX0ZLyIBc9AnWP+C+0EpVY7QbkAAdmeolTxfB8qwUmBWIw=="
          - name: "sealedSecret.postgresql.username"
            value: "AgAPFjq7TwO3nNRDgdXgTtqlTZBb1iho1OcFL/9KguA+DL7Ijwh7Iqeb+3zD7OOaH3HpQzFxbwq9Kagku5Eel9+FWlhuD0NsCLKBBC60ro6WnngsFTsJufsUNitaMFneDbmgqYsLB28AjsIoj+v+4U276Ng2+ncumeWOer16ohRcNh/LwZxeFPUoKNe3I2GqEMM+8MlDZAZQ8HgZY/Pl3KfvinrvvdrGns94Yz+b0ciAv+98dCWvvkeAzaI1pU/zc7VYevezTLHmKo715uKYhTBbyAGvmNr7rQxieVGFFvWUEcI8yl5JoDPbqpGzVkoezSBBIvpTCgGwKupxJnjy4eKObtOzIqjt7waU7uHvKC5rnLnBeBH3NLBE8XcgkNIQjYxaFUfL+hyT+Xa3/33CLaieptEx4A2MV5+9ZSbEI7RWj9Qmyzc0FZC79SJKsQho/lZGho3xs0ErOlx7pN8GvhZoS4fFc8jad5oyS/sCFL7F+iWeqSHMwRVHtm6F87wwozJnOxEUW40/qPVzxAQLuNzzLbkMcmCTelLwoUf2D6ZgdUpiH5HhtRblCdihGTED05RhNxkzkK2QH+IiylHMX2sw4/j1f8a/k1AJ0zZ7CT5DVkXkDJr9RUvw/27a1rQ4aVlAJ88HjHEr4cy+LajrFJcwQcgDPrQI91UKdeGbg7IM/bbu+lF1KQyiic82R/Yj9D3hNrHiZl7El6giX56l"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-EVENTBUS ######################
  gepaplexx-cicd-eventbus:
    name: gepaplexx-cicd-eventbus
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-eventbus
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gepaplexx-cicd-eventbus
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD ######################
  gepaplexx-cicd:
    name: gepaplexx-cicd
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-gitops
      create: false
    source:
      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
      targetRevision: "main"
      path: "clusters/play/applications"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true