project:
  create: false
  name: gepardec-run

applications:
#################### KEYCLOAK-INSTANCE ######################
  keycloak-instance:
    name: keycloak-instance
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-sso
      create: false
    ignoreDifferences:
      - jsonPointers:
          - /secret
        kind: OAuthClient
        group: oauth.openshift.io
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-keycloak-configuration
      targetRevision: "2.0.*"
      helm:
        parameters:
          - name: "keycloak.ingress.hostname"
            value: "sso.play.run.gepardec.com"
          - name: "cluster"
            value: "c-gepa-play"
          - name: "host"
            value: "gepa.vshnmanaged.net"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
#
#  ##################### EXTERNAL SECRETS CONFIGURATION ######################
#  external-secrets:
#    name: external-secrets-configuration
#    enabled: true
#    argoProject: gepaplexx
#    destination:
#      namespace: gp-external-secrets
#      create: false
#    source:
#      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
#      targetRevision: "*"
#      chart: gp-external-secrets-configuration
#    syncPolicy:
#      automated:
#        prune: true
#        selfHeal: true
#
#  ####################### CLUSTER-UPDATER #######################
#  clusterUpdater:
#    name: cluster-updater
#    enabled: true
#    argoProject: gepaplexx
#    destination:
#      namespace: gp-infrastructure
#      create: true
#    source:
#      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
#      chart: gp-cluster-update-checker
#      targetRevision: "*"
#      helm:
#        parameters:
#          - name: "clustername"
#            value: "play"
#          - name: "checker.desiredChannel"
#            value: "fast"
#          - name: "consoleUrl"
#            value: "console.apps.play.gepaplexx.com"
#          - name: "slack.channel"
#            value: "AgBfDGv6D04mh/nf4Few4hJXYljbGYg6TUBMzdXu3ptBh1qYHAKavBLP3TXuznUUgkLVbB9cjTC/QIjZ8TrjfnjYt5BzFU0NhRHV6TLC8sYyIEq2b26s5vg4PtwIdPOD0nY/YWDLk7qzw7qLS2/NWAIaFW4g4MmQZxdHhBHATLh0aEuh5rP9DFL8bsH8EGPk+6CYsziKIbZMz3ihfyfV3cFT5EbmUg3u0mwVYH46VJquE1p53EezrCc0vGh0nwEjdubBlV14kLd4dlL2nEBl+D3b/41jc7gJ3vsG+Xj1t46yfEOsRaQtv90WnZ35PF/gPbBQNQnvay8cW2qnJT96hIEUKeszPzrgR80f1JJemIc5O10GZFXMOuZwAmBx9mqhJ0L0m9aPo1KkDVfP82opcJdhUJQJtAMyMulu6M0cRKQGZFvgOtQE+KyeFRdMpBLj18FMQ812rhWMbyFTGEFkLYp1DrXPlx0JMN4mWRkgOhSKWNVRJ5y9buvo2sSdWuP9Svkipbc3RT04JWX3MG0/E7uwFGlF5NTq1LSzDd49WXd71M+vk0twN3GqlarcnbA5wYMJnGvMhMy5LtHYcshaA5cfm89F9HWmrNrSa04R4NLL8Ep/j7CMU14oJRTvP67uMg8xo9aUqb2beO9trQIB5G7alFGweL1OsNVSTAp13/NdZWGroQ4G/xXeIBqTjpKzdEG7SkyXkb6WZpwdUnazJTLrv0NCtl/JX55i8wFQ7egwEpC9BcFvQuhYHtLRb3xsugx/EnIoMuTWBhKau8+0oo/NIExkkzWyu8uoElgB5BfoE8R8"
#    syncPolicy:
#      automated:
#        prune: true
#        selfHeal: true
#
#
#  ##################### GEPAPLEXX-CICD-TOOLS ######################
#  gepaplexx-cicd-tools:
#    name: gepaplexx-cicd-tools
#    enabled: true
#    argoProject: gepaplexx
#    destination:
#      namespace: gepaplexx-cicd-tools
#      create: true
#    source:
#      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
#      chart: gp-cicd-tools
#      targetRevision: "*"
#      helm:
#        parameters:
#          - name: "argo_workflows.images.pullPolicy"
#            value: "Always"
#          - name: "argocd.route.hostname"
#            value: "argocd.apps.play.gepaplexx.com"
#          - name: "argo_workflows.server.ingress.hosts[0]"
#            value: "workflows.apps.play.gepaplexx.com"
#          - name: "argo_workflows.server.ingress.tls[0].hosts[0]"
#            value: "workflows.apps.play.gepaplexx.com"
#          - name: "argo_workflows.server.ingress.tls[0].secretName"
#            value: "workflows.apps.play.gepaplexx.com-tls"
#          - name: "argo_workflows.server.sso.issuer"
#            value: "https://sso.apps.play.gepaplexx.com/realms/internal"
#          - name: "argo_workflows.server.sso.redirectUrl"
#            value: "https://workflows.apps.play.gepaplexx.com/oauth2/callback"
#          - name: "argo_workflows.rbac.clusterscoped.enabled"
#            value: "true"
#          - name: "argo_workflows.rbac.clientSecret"
#            value: "AgCZs5qFDk5qmSwnADV+AvUH3yvL+nBE1UQwJkTu5y1yHsxuTfGWgE5O7QJFPQOoarkg0yzTytcLGyXG9z2UMraCoFDS1dEEk3jUG/nIFfYLzFuURuN6OEhk/rCA6jmZsJwH/K1dOOrK9O5V/HNCPeD6ALd3WwEi569MrjgMXqFw916YR/2QKrHt2W8Kw5HlRcytU1KZ6Et3hXO/IrwBAFZzeIfNdYBLtdzQRh8+L9hqPZ38TPWEBIakhm4uv3jx58IPL2eK8vJB81dC07GfGnGzSYZI/OrsBksPao02EeX9W/vgaRqn7JEvIzsWgGBEdqIEA0U5AbHKyxuIPgj+Lt0h1DPw9Mgm/Zl63b8ZCGLNZagXfvnTlkCEJq4Qj231byn/fcp43zohM+GztYXE4kL9ugK3PlDrw6W0gMki9a5ONR0e9920WQrOOdVm07iSn3Yt8xIeDyUfz4+YOtkBt1hiqEKVeyapJ8SCNEnf9ya/1BkwAEfZD1Qc3E2ahV58RCKTncPjh45YQzBfCPt7NOC+leKCHbHuv3PKN11EPftz8trNfJElUomeu8EYD0+VK8RfDfnMtKJhzpmatLjpb+0DAsNV9AFDht5d6LHEVyTcTclebZFgDFweHbZTpyhPOLGVIzRF+chL3QxUtGB/cjpBZ8m0PagclWpYupuS9pUzP1Bu8x/B+HIOBcjCnB7FP3IbiLdrn0FvzsEncFe9qhJPV7iia7LPmnzPysfs6Cpo6A=="
#          - name: "sealedSecret.postgresql.password"
#            value: "AgADpL3zJdj+LPzRmRlDwSElM1CnysyWIa0gHJwJoRKElitke/4/b2mMsatXBG99UWezr0Ezf01I7YtiOGUFDhFZvOwIEOI3+KGp4ahrdBYedKSRHBYBGb8RcCnhXfUOmjfUw6XdmXnt7Wovs5A5aNztIhfLsQM6LuhBbIXDW4DE0qI2a84HO3nVkV+drAMJmSOVCZU3Fo7pvDgcMuaTAVNsVg4sgWvSoGOdqiwYIDhxj75XuXs8CBPc26j6RgCPYABdegWc5qe6pLZsS7o2hke1GXVgQYLBIlCfI3VNeimr0qj1wloBvAz8DVA5qSMlfgIJ65CU9HCAsrUh00H+xJsN6pecMbq43OhwIa0e1rWXHRs+IpA4w3hxmI3FgLa57/+3lbmD7BPPQ1FnbQXddttH8Cagty4UYUPkDzxQUAQIX3OUJJUIw3reekNxUS4OgtfIJ+Uc2GlGaAnZInT9KDJWZvF5S5GJ6dstzacw9G4em88vP/DVN0iLvOgdJwNqamaenlymT8sxXy083fk26/eWU1otPDNN1RqHQWsKOW68cGYwMyFX8WeMcUZne3mspSYDg84B5X4PbZ/8D8Wf9TAGHwsm4Ymesm84P3DFvzDTDaEViddPeHh3Xrxih8plHOhayzHnmsX1rfdqg5/7fV6BHh5htgPsnFsxWLdVMXHzwAM+MEJl2U0vMcr6lwpa8nLJKhIJqg=="
#          - name: "sealedSecret.postgresql.postgresPassword"
#            value: "AgC4XBri1BTYmNzo7y918GDQmJzz/g5S6afe92czQBUxGxCLzwBTJdFvmbScYNNicDDPHJHqTPdtpMFUzAj3lUKDxYYbQ0sjsjhL+FYm95N9dTQqUlwmT708Eo0HomZXwHUvbmdqAdyWGpDh1TgzpINVaGPTtCwzEID3Z/Ptco8KECGJOuMdRzfusIM/wdWm2GNmivgnXeu/TjAXZIrB2if4hj7UjpmD9q1IUVvqZoIoimyEcvaOFDHwCK1KD2ndOJGPN4Fsfu8TuVe8RXBn5AqmSirG/XwsJk4ZcM5HLNGRByQ8IoTQPyavicjcvI8lk8yqhfG2C4t9fR5Vt8oZD20OESVA/vY8+Y0Y5/KlcVDKEcBxmwxYsqP/9GlNBB4iaFs11HWgFA2uDJyHwYyXtT6vtcmh+xz+GNlPJzG27qtHCrK349XkY2qoz5L4/vtbSoD4kJnDnJgtAQhcwYuZQE+B/9IJixHbweLqkcSfagxKDNILSiHWZ9GHdQrzvu6w4uxOabomVmwcT0qbvAgO3zopTLe/XxKwi5gzTTjF5FSu5I3Y/+kReJ8bPrSx2flr5jlVPF4FdGy9tBbAHA7/1HSWn6GdnoTBXQnmAQy28Cu1vgr6IApiaiIIQ62dwXoOSrRezk9apQ1It2SsZZkfDasDdNuflX0ZLyIBc9AnWP+C+0EpVY7QbkAAdmeolTxfB8qwUmBWIw=="
#          - name: "sealedSecret.postgresql.username"
#            value: "AgAPFjq7TwO3nNRDgdXgTtqlTZBb1iho1OcFL/9KguA+DL7Ijwh7Iqeb+3zD7OOaH3HpQzFxbwq9Kagku5Eel9+FWlhuD0NsCLKBBC60ro6WnngsFTsJufsUNitaMFneDbmgqYsLB28AjsIoj+v+4U276Ng2+ncumeWOer16ohRcNh/LwZxeFPUoKNe3I2GqEMM+8MlDZAZQ8HgZY/Pl3KfvinrvvdrGns94Yz+b0ciAv+98dCWvvkeAzaI1pU/zc7VYevezTLHmKo715uKYhTBbyAGvmNr7rQxieVGFFvWUEcI8yl5JoDPbqpGzVkoezSBBIvpTCgGwKupxJnjy4eKObtOzIqjt7waU7uHvKC5rnLnBeBH3NLBE8XcgkNIQjYxaFUfL+hyT+Xa3/33CLaieptEx4A2MV5+9ZSbEI7RWj9Qmyzc0FZC79SJKsQho/lZGho3xs0ErOlx7pN8GvhZoS4fFc8jad5oyS/sCFL7F+iWeqSHMwRVHtm6F87wwozJnOxEUW40/qPVzxAQLuNzzLbkMcmCTelLwoUf2D6ZgdUpiH5HhtRblCdihGTED05RhNxkzkK2QH+IiylHMX2sw4/j1f8a/k1AJ0zZ7CT5DVkXkDJr9RUvw/27a1rQ4aVlAJ88HjHEr4cy+LajrFJcwQcgDPrQI91UKdeGbg7IM/bbu+lF1KQyiic82R/Yj9D3hNrHiZl7El6giX56l"
#          - name: "argo_workflows.archive.secretkey"
#            value: "AgAbdLoDu7P+Taw1YKZ9n2p0qIm12S3BH0rlew21vOu2DbSrjXKk5KCM7JgAtMp2LIUAE+JNIMhMWGsDi/eSOePi9fjkRE/XE6YYv37XSGqbKRAcQmpbdCl6wTeT+ovkx1Jy/+atD5ihEd91HBpuOeq87K1LDUAsSwFV638Okf7POuNhyd/YX0Cyp8EyPKKvOA1aHK/kSDHnqAr4biObORHMqSR/+D60d94sA6YByRjHN0E6PTTzyHdJ2JE+A0iXKxCk0a3iiJppa1vYij7Yc4qIvkRnADtPY/wnBrx/HVKWMA924Hz3QEYT5UMFTtQALGjVR0ciFFIA3FBR9L6p7WCJGAkDTe0jdih20skDKKwRcwGxfHZ3P0xituaYjrjYWrRbD64XVJJVzM4tnQpkZIGYUohufzys/plp2quDyPuIArzNziMaqFGYuPW9uRs+s6yoebpSwBEJz72IISTBhnm4PoUZ9JQ0mEkKhXlT9t93zJZF7dyJ47aISk9u3TEONhUBnvb0vlk3CRFaWj/3221ZCHGfK4qQfTXlcu2XwkaPW2NCBEYnVFxLwNFDRQtxkdrf9FJVkKcllyy3tkki1WVkwAeMwqvn60a+PVZKffUIqrsjTm3ScQ/sCx65Tk+JbjCXTy9X900YkcJ5siAl8FuGVdB/Ep0zDS7d1jy9YlaQ18a1WfDwJAUQEJcIqNA7XKynFjs1fqm7qP8gfaLFZxxIGguX8dXqgB0n0Mlk/6lXl465Oqc="
#    syncPolicy:
#      automated:
#        prune: true
#        selfHeal: true
#
#  ##################### GEPAPLEXX-CICD-EVENTBUS ######################
#  gepaplexx-cicd-eventbus:
#    name: gepaplexx-cicd-eventbus
#    enabled: true
#    argoProject: gepaplexx
#    destination:
#      namespace: gepaplexx-cicd-eventbus
#      create: true
#    source:
#      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
#      chart: gepaplexx-cicd-eventbus
#      targetRevision: "*"
#    syncPolicy:
#      automated:
#        prune: true
#        selfHeal: true
#
#  ##################### GEPAPLEXX-CICD ######################
#  gepaplexx-cicd:
#    name: gepaplexx-cicd
#    enabled: true
#    argoProject: gepaplexx
#    destination:
#      namespace: openshift-gitops
#      create: false
#    source:
#      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
#      targetRevision: "main"
#      path: "clusters/play/applications"
#    syncPolicy:
#      automated:
#        prune: true
#        selfHeal: true
#
#  ####################### Grafana Instance ######################
  grafana-instance:
    name: grafana-instance
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-grafana
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-grafana-instance"
      helm:
        parameters:
          - name: "ingress.hostname"
            value: "grafana.play.run.gepardec.com"
          - name: "sso.keycloak.realmUrl"
            value: "https://sso.apps.c-gepa-play.gepa.vshnmanaged.net/realms/internal"
    ignoreDifferences:
      - jsonPointers:
          - /spec/config/auth.generic_oauth/client_secret
        kind: Grafana
        group: integreatly.org
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
#
#  ####################### Grafana Dashboards ######################
#  grafana-dashboards:
#    name: grafana-dashboards
#    enabled: true
#    argoProject: gepaplexx
#    destination:
#      namespace: grafana-operator-system
#      create: true
#    source:
#      repoURL: "https://github.com/gepaplexx/gepardec-run-cluster-configuration"
#      targetRevision: "main"
#      path: "observability/dashboards/"
#      directory:
#        recurse: true
#        include: "{all/*,play/*}"
#    syncPolicy:
#      automated:
#        prune: true
#        selfHeal: true
#
#  ####################### Multena ######################
  multena:
    name: multena
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: gp-grafana
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-multena"
      helm:
        parameters:
          - name: "multena.jwksCertUrl"
            value: https://gp-sso-service.gp-sso.svc.cluster.local:8443/realms/internal/protocol/openid-connect/certs
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

##################### ALERTMANAGER ######################
  alertmanager:
    name: alertmanager
    enabled: true
    argoProject: gepardec-run
    destination:
      namespace: openshift-user-workload-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "0.1.*"
      chart: gp-alertmanager
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
