project:
  create: false
  name: gepaplexx

applications:
  ####################### CLUSTER-UPDATER #######################
  clusterUpdater:
    name: cluster-updater
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-update-checker
      targetRevision: "1.2.*"
      helm:
        parameters:
          - name: "clustername"
            value: "steppe"
          - name: "consoleUrl"
            value: "console.apps.steppe.gepaplexx.com"
          - name: "slack.channel"
            value: "AgBIPG9Zo8SxwkZbayJT7kKCFT8EETzn6qmwPLmV3H9KOgxUWsPdhKQZC0Qnkc6dGJk7jv/rDhnzzYJ62hSvIvgKh5FQQkOyIbAvWhIUeO7xSWQK38UhULmlIdnhMoo1NVbmdWCM/VyF8N4HizqeD2c6UnTmJuwbWR7vGFzxD622G+arsZ4Kx5mBGnfcNsDcSu2yiq3R47m3iB+KNgr3M9aJFAsQaWHiiufgFTTqJicNAfo3FjzrPPvOd57B/SZuL0QXOlxUMVzHA/RGn5/2J+LWjnbOXH4d3d6zwmgv0mLAor86hn301y3ZLVXqUaphaMsPuVv8/KEEpTYu1uyw10cCMSr8wlCa53O7RdgA3IGdjHi0y9qZxs+HFzuRVhWOPmcADN3iUiJV7FZtW0C2N7HfdO3V1365D2BXuT23b4OzGplm2oj02XKeNAN9cj2/oWTVx4tSyojr9L/5tnwHlN+Sg21ACiqhRoAmQRe4K6YO+YSDne6+hE3aDPGAdNQQHUSHe8JHhaxzS9DiHj/R/5waLaSrm9TWlT2t1gDqehAN1aPra/QI+ETJtVAA+eapv5PUq7sWRyjTdEBMEOLbClIwRcHQKj/fslNhYEv0ZLAN0JeyBJwmsXtth89m5wVDPz+0WIeH2JbkBr3xLcYXR4OY7No+YA/jdtCDntyXH4GmnLIW55z7fE0MmbxtniT2ryHiiM4vrRhPC90nNJykMaxrBP9+Kc4HP10Gbnf7yGlXfuDzP1sWPpDtImPTe8GMpdGqXntLlnS0FXOGeMVNIoFfqxT5GGlNmZN5xuaWwqNhrIo="
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING #######################
  clusterLogging:
    name: cluster-logging-instance
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-instance
      targetRevision: "1.3.*"
      helm:
        parameters:
          - name: "elasticsearch.resources.requests.memory"
            value: "10Gi" # FIXME
          - name: "elasticsearch.resources.limits.memory"
            value: "10Gi" # FIXME
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### CLUSTER-LOGGING-EVENTROUTER #######################
  clusterLoggingEventrouter:
    name: cluster-logging-eventrouter
    enabled: true
    destination:
      namespace: openshift-logging
      create: false
    argoProject: gepaplexx
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-eventrouter
      targetRevision: "0.1.*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### CLUSTER-MONITORING ######################
  clusterMonitoring:
    name: cluster-monitoring
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-monitoring
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-monitoring-config
      targetRevision: "1.2.*"
      helm:
        parameters:
          - name: "alertmanager.config"
            value: "AgBzNTt3iS6gd34er0LoiRRL1RBLFvRaE3TVWhCYpP1XAArFAO1o3C5CthAjAaU9fZKN+zi1rJr90EX1a0ryq3pURM+v7ZXi+Hm07XlgbZtlZyN0zCdRS84rPwQVt/xpqNn0tVhGCw3aXgcT5nca5nlOkACmaXKW78oy8tRRePy73JyG3DMYlQ3SaFKBe2S2JOXma2sA4tdlMuA23ikQ7ghCDka0MZTyeC6Sex6LC3J7Bd5IT8LEe1n57KoXP7xsYF+J2GQLzEVCBVhfTDEoDVQds8gXsOAlJMgm8IjiQLx5sJ+Zwsf38DovOtl0gBEsHytgSnVc6kmHw4Seg03508HsxkHFuB5lUrlEkOaJWJ2LfzWk88ffw+YUPzj4FCd2kyUr657Sb6+eI9SFUZuJJqTGadb09ZByHIirM5CZ80BjQZW+HeVQnLOPfz2iPsaXNcTqlwmlzbvYCSoQs+GoBf7Q1t1VdldWNxbsOs5NJK7gvMMqQtZnoagURiELnWzneVU3C8RweG7T1Bv69Ou+0/7LH8brvupaQtaFlgdN6kyPzDTC1joOCoNAUIjOJG7UNQtcFmb1ClnmaP1/dn0OUrCTFqLyEqip87KSxKXFTX1hs63g2PDKJKSq2QG/t7ryGvBHGx4hrmlFWJ2+j1jGE0f8npzD7kfPyT5tgEKEA29tSAywAeHC+9BgXMlnWAxPsw0/r71nDcv0s8ZwWG9VurBdHSVaJIuJ6SqOfKUelUNGuowgn0BO2O7+Pz7KqFFGxVs/b05yZPEgZwh8XjplgYyuQaRtcjG6p1QknAgwuiOIVPDBJGBjvSKjxHmEB4x7yy7G3RzA/ADy1ZibpgUyLUBXlU9o1UEocXyb2PIz9JtY8FIBOKf94Dq+73gjIHlR01oezGwzC9K4aI+73JVeMWIB1uCFaFvMQuFma7u0+zM4223gqCrM5bAOEVJE6qgkp9M65vaeMVUDJOTGrSdGXBA9OEJpCrvilDwsbzJagEaEyBSiplmFZt7kVeMqubE6HhfINh02ywtP0VpO1TY5/659hnKrl0x+jjSFKwP4aqlPnTjrJhmacm+Gfgx5VyEdzmZopMUoStH+PUzrG2+wps+O/7H/2uTxFW2aWvV0Mb0/0CoMAsCAT34nz/Rh6t/c1yIMq/ehxNhcamDlZow1GP1lpZJrJVwKmMa0HPpqrcBqxu2IEyMU9kkR4+yYA7Hajb53FD+acsZkF6Q69UV8VPlKxivwA6PpD7DgYtVVcf6KM47R2TECoqDEwcd7l7Ei9/6hkw5nVHwhzJe2sM6UwiG2vK9YOC5Cv3nCUGehp2gb+z3JZZYuinX5svW7e8jRMwcHJwPfSXex9OeLgK3N94auR7kB5AWjI0/tLvZaRyYjoHjOhakbVEAfFIkw6KNqYHMqsgv6bD2PfAU7+JNrhKBOntMs7Ke/X4XJudpg0MKxostqd/skScPweQq8xAvCakW2e4Oex4M5rFZ4yeIlUqnajjtH1otGbyCOLhbKgYNLx7t8ydSRWwRVWzCy1yF+KtVrytR9eRWsTtrnz4dpwK+aMEasgMFoGoGh5aDLpsOepygW0Aa/6FhtexM96XqvHt/y8OoQeicF+a0b7S/dCuIe/0W8+HjsFM8+IuTh+KYWdTUg7PEy7QfPe/Yk5WsljNsJF03kSq7Ay8uxUj1sEkr2hGY0KpLXK2nOFy86NdNbD0G1yxGmSAki5bfTbotd40VU6YkU+ZysZE1T4tMZ9f87XLBEUdG8RPBkVSDntUbdASwe5x1xxd/c8SmVDgT6D2YmNqSV8eUnoQ1KfCkKND896hYEZ1L1vsM93IlvBhe8NzFIIab6a9DqixkG8l7tlXrO/iq8X5ON0QQlUMEk7Wg75GGKnxV3WYc1E+OOsU1vfFNHADsmkBKNDAS3mkRDmq/fo4b31j6b9reGRlPyvW0nicTDYhkkzkBnJCzZnQJJfw+Fghy3hamz15rKsfk6Ggy5GLZEQJVqrQX298hu1Hd4AYrJGdCb8V2Smmm+OG25BJ0I/4kVy4RbiPiX2mQIy25hfKAFZtgOrFUnA2E6Ox5bW04Ns+QonIbUcB03rRE4qYlMNye9619l98OBSXYGkOuykiEaJY9EiLMi/uTifN44fXLiZtKY5BSCLs7a3DNMxcskLNG/cnMoyr225OViYt//VFTvskVV9IzucQe/RBoMxAHj9JcmhxImhibZpDhaW8mwVVHd8uc71lBZUWztlNq0qwtQo81i9ONvDvm9ucRArDcKoJjF5W/hodv7GT/m3KL7U8M5eeYKaGYi+aAvRVLqUS+oOh4DSDjmzL/EHnFjVANfaCobF8OJUVlPwx1DIXlXPxkJVVGgq/5N2YKRYJtI5FzMDH6502B/hG5ctgl5T+1WrUmR1K9sl3IW7PRFoBO6BKzrFS/jm9leUR5IS5NQ+gEaY+xGeog4KfveyaB6muw27MIWHtuuOs9pYoLhtETIHlw9R9MdMEHDNJPElIDvm+U8TRp5AouSyl4oZjdSg4takZ9iLBQN2nztnKLOTkV4ymIGPRl01XwJcG1YYuwd3gnP9GobEdAxi5ZDRwtvzm2P08sVoMThlFLT5XO8Cd8ittcE1+TAEVLO1UApKEPQd7jkT2+D6x2XAIgL1Zf6YbSQic5QqUoZKJkvjs4z/XF/ow40g23r/vc3Qhpvq+8n4f/ksfrEUpJRvDRPPN0qMH/CpIafuysWFdngsFQ2PvcQaVr1H37fesdPs5jOo5ZBSvYHTppKxQj4KRcsrnWO5I/1iMWe1vUJ/HVbccBLCtg4dmxREd0nnf0lId1Vqhrg445KZdDvPZjcAJZvMvR+Zh0gWecXrbYlcLqSrdtlC/k81evMlvLrZ6skbetBv9Xd0qnBY7ojqBQRXUkYyeP+bkkNnEeWIfl0qvCoz0cQRQbepLkFo4cKJP7aQS/kZQmtdEmNSfPXEnTtfHhcWfPAAqO1wRCLYVRyNgPQrWjdgPLgKMo4Mnqe8iu6J2o8/abz51Ct5m/CGKuptbyvBr12TuHbEZ3HElWWC8H+e3dobNTxNAjB9e/RKYCZyFKiB27Zt7iusuqgLh5kNPRtDd7v8BlHWMTktB+IzOm4lT46eSvChWMAxtqwfjUWSgj/46PrWAnGRbfRiS8jfkarmwFFfNyRm5+pnG0KAeqpTXrwWQDSVDT2Hj69fV8kiqU+5Rr9xFcioydnV/eay88a8dCwaX0nowZOxVoWD5Kzv4LuWz2INmOVZSdg3S+ql5PubKNLTzSN5zEoreYWx1R/cugziFlKuCpVKbe4bIZteVN+eavtsrKvzu64mTxB3dI2n/+EBgD84cCVmpZH9IRWu18PskDq6PpyXpGYiUIPwfSkqXyRT+9dWnhjb7pUvOq74x4pMF0d/+H3T7H8xGzu+ijDMEMGI55LZf/6Rrub0sAjAekv0agI7+3SAf5mr6ELegavnfQ2MSSSjzUwsK7xDRSoIcLywwGMsRv3RdZ9aBF9OdhFuPmGiM+FWTDhm+hxYK83siS0XHMYAgOctoKUjLWy9D713N+3D6xhGskayxp9PZVnFEA1q7JNzx982UxwOpu6uW35q8qcrsiMjMEN6JFLj/qlXn/VLyClHwaEr0aF1OTc8Pool6nAObTJLP2qZIKHEqA7SdMnsp9+Q5BXIS5K/whbgmbs4FEwzQN6YvpBvx6Bf8anu4tnB4d1tbeKJBHVB+Ab1uw+HPDDOr4C4wVZEdTYoRL04pkZ+imQnDDHY8PzyipHcPnA9Omnluw9GpJ8HP/X1vlM4cYNvThjRszFMCfQUFZ9rpD4ChY/2fxUeWkTV1Nt8wM51zlYGuuM+MvdBu2wcxJCe1wyk11Hh8PKzrwRbgMiY4V2BlpVweoeIrrs8Z4MnRAT38W1LmRgp5Ml0ZbjYPKtm9nHEKJ/iKyIoj6mR+g3jOmauhkXlnyjVjvqZw9pT4Uv0z4XmQ88oiXIXCrUjnZF8XOCZ1YGKy7A0iDF2KJG03NUOVi5tUIbpW+gI2X53O16U7fQWCW8cU/t4PpVGZHNJloV7V2J5EMz0l1LJWabQrtpFl6VHssGdbjFmbpNogq2oShKxn4LovyHkVlqUD8fSml6iMKb5IailTEQolqiZDwHQVQ6A/knwPc="
          - name: "infranodes.enabled"
            value: "true"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### OPENSHIFT IMAGE REGISTRY ######################
  internalRegistry:
    name: openshift-registry
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gp-infrastructure
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-ocp-internal-registry
      targetRevision: "1.1.*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-TOOLS ######################
  gepaplexx-cicd-tools:
    name: gepaplexx-cicd-tools
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-tools
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cicd-tools
      targetRevision: "0.5.*"
      helm:
        parameters:
          - name: "argocd.route.hostname"
            value: "argocd.apps.steppe.gepaplexx.com"
          - name: "argo_workflows.server.ingress.hosts[0]"
            value: "workflows.apps.steppe.gepaplexx.com"
          - name: "argo_workflows.server.ingress.tls[0].hosts[0]"
            value: "workflows.apps.steppe.gepaplexx.com"
          - name: "argo_workflows.server.ingress.tls[0].secretName"
            value: "workflows.apps.steppe.gepaplexx.com-tls"
          - name: "argo_rollouts.dashboard.ingress.hosts[0]"
            value: "rollouts.apps.steppe.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].hosts[0]"
            value: "rollouts.apps.steppe.gepaplexx.com"
          - name: "argo_rollouts.dashboard.ingress.tls[0].secretName"
            value: "rollouts.apps.steppe.gepaplexx.com"
          - name: "sealedSecret.postgresql.password"
            value: "AgCDAZDLeivIhT3xE+2H+3SRn5hb+TwbAK86aE+Xyg4WTtBppLWONNCdlnQT/KJ7iDKT8vKC4SjOOLnwSwySfQCoQqZDQ/fo7sTkTDKr03EzFGDpbccD77mxYpQW+Go14VPoToascX36Cz4zc1smgCHHaoNAIX+Z0s4Ads6cjhF2SMBQ8E92e5Kj2wATPs/Y7uPgGiR08eonD/pLcXckj9nhHCFcKdbSBlEQRNmtQD1rWy7NqPnXBW+NGIRKBMWyyzwitdLB1BmpyZXUSDOq+AyjfSqiVNC1OEa0nxXDoWJzt7uQAybGD8LgCSrMyQRiUiDLy1wlqkmlbnmTWAwW7G68t5yR5x6s8QFpKSpSTrd2h2RsSZV4W4w9WAHVMSCFwxARAD/1FPuT3neNH630go/dZRBFKJi5ddK/jS0DvQGTSQqMBDAud/1jXI7zaJHGqOamVxhlfDwkzYP+ilLDbwPGRy0UO+MORFPnhw+aelRsyCdYm30fB/HUF7yY2+lKrtL5VTR87uEgwMGhM5fwpb7RMER3Bhr/DPaoPHzUehFMcB39PCibpog0eghMbuBtCvpapAOFL84M8mv+bQMVv64+5/w0PK5c3uA0/j/EljhSmmLA9SqhC00Cg9XJFzJQet1FZ1lWaIVrdOutt0ZTicsqFU0qHq+AO4j5PlgeL6KS3psimcT+ZQMhS5PD9pEs4I6bxgx88kT66QZT"
          - name: "sealedSecret.postgresql.postgresPassword"
            value: "AgA3HSgmbUIM+UX3pSAvsr4Wo9pU0zx2ja9itSYNuOFS44N3W3S96JOdkcYavk29hkRwhBcWV9kIzo1h2D1ihqpHeKwa2zhm9s9gILv+OP9PSwctrsbaBxgCDIU9Wv609Jd4G28rpSiZ6MDOD3sXnDqsie9aYWqEeYCFr17mQZkWGuSFnPbv/0n5hUT3/03e0K8CMo4kNcsryFdiaqU3uwvEwJ4baGkFKtFim+7/2lepo6dkJMr2thWtRZoait02GBLe+BaBpNhfOQ2BQkOoAulDkU1wl2OWcfzi7Ldu8N6TtXell771rGv0Je53KeFIN0emUPKMVs8so9LiJ+srZTlf9lGWK0YHpjzKfbxpT7I7XMcuP9mQ+4W3nSe8D79u61PcheRBWQ1MELDw7gHLL9KoHh7vSGDuTziyUmgFnQXxyicl6Dd2dZPfSDPxlSA6vBb6dfNwFThP8e6JriweC/IT1Act4EMscAQ6DOh/jXdkyRZH/zZfTqaFB4zSBzDo+vulIsbuK2m1PnfJPoofL2ZY4mnexy1U280STQZQ/UToMr/sm3NWOf3NPgoYjibOPSWX4KezHCgGSHvEOZ0vfRn+8nkEzs6wNKKEOi7RxjpgCOSmtGmytX1GOnIhB4Uwn5yZQNIB+1aiSjdeXVomkGsDu3600l7oaGytOXmtavoNCnIF/ztmdQymstAJVDZY9/KJle1o92VQ1WTE"
          - name: "sealedSecret.postgresql.username"
            value: "AgADG6AfLve+xdSl1yMW2a/Q5oMkowFPOpSTWq0XozeDh4yVdaz842R4QamOLkoxtq+w4273x7j9hLLDoGo/QtTbmWGh0W9A6vYsVak8jsSiRmjNMrO2y8T4rNEBMQkIG7OdfLpkwqIw6fcWhXLIIMEWsOL7Ek99uvbwhETC6nmGoWB0YEFNOakU28ihLNzhzT4OdmYEG7MGIiBDezYFWHToj0Bj2agTj3es2w4sbC+WXBzlrgdgDaj/aEAg+Qc1i4yXgoNtOdLXyga1TCjqhwLpCKmqNz9bF0GP1PbOxB2gYOHH/tecRCVu6PuVeGU/od+Bra2dCwC4/fPfq7EstoWqzGMusIEdeYOq9z27Hz2fRCGCWfDFetWKou7KkkPr9Vy2CC1JKZSl4E3Xqk7SbwUyPLVJ85vu0uEWrvGK0b8v6BxJLSJPS5jjNg9rt+lzIQblDNTZmqrhZ0e5LgHHnTNuHaNkxTzIthODUd+cjrzhfydkLo7JKpNEGb1Oew5RKZU8cWXj1XRFcB8GH3dNyc/z/GGdirqoyqquU8FGMDQVttiQ9berV7I3Qh+24JWTAKAS+q27Ft75aHKjOGrbEP6r68FLSW2P+YjfyCbzeaKVOU17UWDCrHQTy3jMXso0/rZi1Bfb+wUwJkgfn1q6FEjfxPABTlWrjttNyjtMixLP4N97riRY8++3RZ/9N42FgscgigdrDCigGcaLLVD0"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD-EVENTBUS ######################
  gepaplexx-cicd-eventbus:
    name: gepaplexx-cicd-eventbus
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: gepaplexx-cicd-eventbus
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gepaplexx-cicd-eventbus
      targetRevision: "0.1.*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ##################### GEPAPLEXX-CICD ######################
  gepaplexx-cicd:
    name: gepaplexx-cicd
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-gitops
      create: false
    source:
      repoURL: "git@github.com:gepaplexx/gepaplexx-cicd.git"
      targetRevision: "main"
      path: "clusters/steppe/applications"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### Grafana Instance ######################
  grafana-instance:
    name: grafana-instance
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: grafana-operator-system
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "0.0.*"
      chart: "gp-grafana-instance"
      helm:
        parameters:
          - name: "datasource.prometheus.url"
            value: "https://thanos-querier-openshift-monitoring.apps.steppe.gepaplexx.com:443"
    ignoreDifferences:
      - jsonPointers:
          - /spec/datasources/0/secureJsonData/httpHeaderValue1
        kind: GrafanaDataSource
        group: integreatly.org
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

    ##################### VAULT ######################
    vault:
      name: vault
      enabled: false
      argoProject: gepaplexx
      destination:
        namespace: gp-vault
        create: true
      source:
        repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
        targetRevision: "2.0.*"
        chart: gp-hashicorp-vault
      ignoreDifferences:
        - group: admissionregistration.k8s.io
          jsonPointers:
            - /webhooks/0/clientConfig/caBundle
          kind: MutatingWebhookConfiguration
      syncPolicy:
        automated:
          prune: true
          selfHeal: true

