project:
  create: false
  name: gepaplexx

applications:
  ########################## ROOK/CEPH INSTANCE ##########################
  rookCephInstance:
    name: rook-ceph-instance
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: rook-ceph
      create: false
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-storage-cephcluster
      targetRevision: "*"
      helm:
        parameters:
          - name: "cephcluster.alerts.slackurl"
            value: "AgBbra9aDhPrqF31kB2KgQV3Cwi6DkhMc/YE4XUSCdUat92ZXnrsGRhPzodEI2o2Y7xPcmsb/DMHkaCRS/Ahz6G+xN0FYeCxpIhrblG6/1xO/1wnd8JyLugaf0/tnSGXumo6V+uLZOYUJqQj4NH/ICxWen7GIDXx4t2rq1ElXax4NvZqgl0SnWf5eYxrVmUijMPwNAlnC/ieL/GKIVINE5QDqNQ+D4aqByKOWu/ex7TeJwetvba/BaeiTER3dJJXbVVuVnJeRAFa5zXdVhrMS6I0kZ8XR5/KACrgIG4SxE6NZWzinOjbB+a/9fNzAlEzhIlcGhhHgwsHursPwq/YSRi/TwZYIq/5IzOq8lE2R6pjJtwEDyTW85T8yQfgdMkVvtP+/Kp/vuNnqFcX9ik5OGQO8hZWhY0rkzNHMkQM9G+4MW14GTCuHzNpoKPyK7oFtOsAqBavTZ6O3MDIMaIUtOXS07jAq2c9zSGCr6xPC5XdY8I06rlRO0PaBP+p/o6hnwxp72oEl+e+xcA0kG8eUoLwUmw9Nl4jTAs21XlKQNs4k1xFngKPiDjpJZO8i89FPWumuIX09ql9ROLgjHB1kzSRVDOh5mNmJUpFEg/KF4OxPgXKhUffz3/qkaHjpBmPJBsg9KH4pugIF0MV0z1gGvWdPPN84BjApWrbZA22twcoDu91WSiDzP34ZfPWXzlfDstiJa8YbNr3EUnO5rbpw5xGsJTnA4Tz+S5rJwcBYPiClLaV74QPo1OaPdeHJZgyoMX/vzNZeiEWWA9miYz5ItjZyR0fyNqTqMfo4kvBhKBk4Sg="
          - name: "cephcluster.alerts.environment"
            value: "play"
    ignoreDifferences:
      - group: ceph.rook.io
        kind: CephCluster
        name: rook-ceph
        jsonPointers:
          - /spec/monitoring/createPrometheusRules
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ################### CLUSTER-LOGGING OPERATOR ##########################
  clusterLoggingOperator:
    name: cluster-logging-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-logging
      create: false
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-operator
      targetRevision: "*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### KASTEN K10 OPERATOR ######################
  kasten-operator:
    name: k10-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: k10
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-kasten-operator"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### NFS-STORAGE-PROVISIONER ######################
  nfs-provisioner:
    name: nfs
    enabled: true # TODO: enable sobald FW-Freischaltung da ist.
    argoProject: gepaplexx
    destination:
      namespace: nfs-storage-provisioner
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "*"
      chart: "gp-nfs-provisioner"
      helm:
        parameters:
          - name: "provisioner.nfs.path"
            value: "/data/col1/play"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true