project:
  create: false
  name: gepaplexx

applications:
  ########################## ROOK/CEPH INSTANCE ##########################
  rookCephInstance:
    name: rook-ceph-instance
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: rook-ceph
      create: false
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-storage-cephcluster
      targetRevision: "0.3.*"
      helm:
        parameters:
          - name: "cephcluster.runOnInfra"
            value: "true"
    ignoreDifferences:
      - group: ceph.rook.io
        kind: CephCluster
        name: rook-ceph
        jsonPointers:
          - /spec/monitoring/createPrometheusRules
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ################### CLUSTER-LOGGING OPERATOR ##########################
  clusterLoggingOperator:
    name: cluster-logging-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: openshift-logging
      create: false
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      chart: gp-cluster-logging-operator
      targetRevision: "1.1.*"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### NFS-STORAGE-PROVISIONER ######################
  nfs-provisioner:
    name: nfs
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: nfs-storage-provisioner
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "0.1.*"
      chart: "gp-nfs-provisioner"
      helm:
        parameters:
          - name: "provisioner.nfs.path"
            value: "/data/col1/steppe"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

  ####################### Grafana Operator ######################
  grafana-operator:
    name: grafana-operator
    enabled: true
    argoProject: gepaplexx
    destination:
      namespace: grafana-operator-system
      create: true
    source:
      repoURL: "https://gepaplexx.github.io/gp-helm-charts/"
      targetRevision: "0.0.*"
      chart: "gp-grafana-operator"
    syncPolicy:
      automated:
        prune: true
        selfHeal: true
